[2014-08-19 01:26] mattdeboard opened #86 "Indentation with heredocs is less than ideal."
Indentation is not where I want it for `@doc` `@moduledoc` and `~s` syntax.

When pressing enter after a `"""`, I want the cursor to align with `@doc`:

[code]

Right now the cursor just goes to the beginning of the line (column 0) which is annoying. Thankfully however it can be manually aligned without interference from any auto-indentation busy-bodying.

[2014-09-29 06:59] tomekowal opened #129 "Indent enters inifinite loop"
I have this code in my `macors.exs` file:

    defmodule Unless do^
    end

`^` is position of my cursor. I am hitting enter and emacs hangs with 100% processor usage. I tried `debug-on-quit` and it gave me this:

    Debugger entered--returning value: nil
      looking-at("^[        ]*end$")
      elixir-mode-indent-line()
      indent-according-to-mode()

Package installed from melpa: http://me

[2015-01-14 18:50] fremontmj opened #164 "require/import ordering problem"
If I have this:

[code]

I get the error message: "module B is not loaded and could not be found"

If, instead, I do this:

[code]

I get no such message.

In both cases Elixir in fact does the right thing.

Best,

Mike

[2015-01-14 18:54] tonini commented on #164
Hi @fremontmj

Where you get this error message? By Elixir itself?

I think we can't help you here, because thats an Elixir programming language output and have nothing to do with the Emacs `elixir-mode`.

Please ask this question to the #elixir-lang irc channel or stackoverflow.

Thanks

[2015-01-14 20:42] fremontmj commented on #164
Oh, you know, I think the message is from Flycheck. It shows up at the bottom of the buffer, under the modeline.  Flycheck is checking via Elixir, so I think you're right, I'll check over at elixir-lang.

Weird, since my code seems to work regardless of the order.

[2015-01-21 05:00] robmerrell opened #165 "Indenting too far over when invoking evil-open-above and evil-open-below"
I'm an evil-mode user and when I invoke either evil-open-above ("O" in normal mode) or evil-open-below ("o" in normal mode) the resulting indentation level is inline with the last enclosing keyword rather than just indenting two spaces. I have attached an image that can demonstrate it better than I can explain it. Thanks!

![jan 20 2015 21 52](https://cloud.githubusercontent.com/assets/5224/583142

[2015-01-21 05:56] tonini commented on #165
Hi @robmerrell

We're aware of this issue already.

Currently the indentation will be made after you hit `TAB` (`indent-for-tab-command`).

Thanks for reporting

[2015-01-22 22:54] whatyouhide opened #166 "Highlighting of built-in vs. user-defined modules"
[vim-elixir](https://github.com/elixir-lang/vim-elixir) highlights Elixir atoms (module names like `List` or `Plug.Conn`). emacs-elixir not highlighting them is the result of a design choice or of a kinda-bug?

Thanks in advance. I'd open a PR with an available solution (in case this is a bug) if only I had **any** experience with Emacs/elisp. I'm a total newbie :(

[2015-01-23 12:28] tonini commented on #166
hey @whatyouhide

Thanks for the report, I will have a look on it.

Cheers

[2015-01-24 11:49] tonini commented on #166
@whatyouhide I had a look at it and in my case it's highlighting it well. But I think that has to do with the Emacs color theme you're using.

`elixir-mode` formats the module name with `font-lock-type-face`, maybe have a look at your theme which you're using and check what color it uses.

![screenshot](http://i.imgur.com/eVCXGTl.png)

Regards

Samuel

[2015-01-24 12:03] whatyouhide commented on #166
Hi @tonini,

this is what I get with the snippet of code you posted using solarized:

![screen shot 2015-01-24 at 13 01 04](https://cloud.githubusercontent.com/assets/3890250/5887312/186e3104-a3c9-11e4-979b-6065ccb6a229.png)

`Keyword`, `Enum` and so on are indeed highlighted correctly. However, this is what I get with a much shorter snippet (`Bar` should be highlighted as well):

![screen shot 20

[2015-01-24 12:16] tonini commented on #166
I use https://github.com/tonini/emacs.d/blob/master/themes/ujelly-theme.el

You can easy change the color for modules as mentioned above for your color theme, just update the variable in the theme.

Cheers

[2015-01-24 17:33] whatyouhide commented on #166
I installed and loaded the ujelly theme you linked, but the screenshot above doesn't change. Only Elixir stdlib modules are highlighted correctly:

![screen shot 2015-01-24 at 18 31 35](https://cloud.githubusercontent.com/assets/3890250/5888243/3efaf6a8-a3f7-11e4-81af-f4da092b4db0.png)

I don't know if this is the intended behaviour. As I mentioned in the issue, vim-elixir just highlights every ca

[2015-01-24 17:54] mattdeboard commented on #166
Which names get highlighted is hard coded. The alternative approach would
be to highlight via regex
On Jan 24, 2015 11:33 AM, "Andrea Leopardi" <notifications@github.com>
wrote:

[2015-01-24 17:56] whatyouhide commented on #166
@mattdeboard yes, which is what vim-elixir does and which is the behaviour I'd expect since capitalized words are almost always atoms in Elixir (except from the usual cases of capitalized words inside strings, charlists and similar cases).

[2015-01-24 17:59] mattdeboard commented on #166
Indeed. Should be straightforward enough indeed to change.

[2015-01-24 18:09] tonini commented on #166
@mattdeboard You're right, should I make a PR or would you like to do it?

[2015-01-24 19:06] whatyouhide opened #167 "Highlighting issues inside triple-quoted strings"
Example from the Plug docs:

![screen shot 2015-01-24 at 20 01 56](https://cloud.githubusercontent.com/assets/3890250/5888559/1e30fe06-a404-11e4-9c68-df0719ce5f04.png)

I can reproduce it with just any triple-quoted string:

![screen shot 2015-01-24 at 20 04 12](https://cloud.githubusercontent.com/assets/3890250/5888562/2de7a9e4-a404-11e4-97bf-aa6833adc100.png)

This also leads to an incorrect beh

[2015-01-25 06:53] tonini commented on #166
@mattdeboard @whatyouhide so do you guys think we should just use the same font face like for `atoms`?

[2015-01-25 06:55] tonini commented on #167
@whatyouhide Thanks for opening an issue for this one.

I think @mattdeboard has a much better knowledge about how `elixir-mode` handles `heredoc` representation. I know he has a lot to do, but maybe he could have a quick look into it. <3 :-)

[2015-01-25 09:13] whatyouhide commented on #166
@tonini I think vim-elixir gets it right here: no distinction between built-in modules and whatever capitalized atom (see the vim screenshot above).

[2015-01-25 09:14] tonini commented on #166
@whatyouhide I like that, so it would be different from defining modules.

[2015-01-25 09:22] whatyouhide commented on #166
@tonini I'm not sure I understood you :( Anyways, what I mean is:

* regular atoms (like `:this` or `that:`) stay the way they're highlighted now
* "Elixir" atoms (meaning **any** capitalized word like `MyModule`, `Enum`, `Plug.Conn.Unfetched`) are highlighted as the same syntactic group (again, like the vim screenshot with `raise Foo.Bar` above).

If you meant that the highlighting of capitalized

[2015-01-25 09:23] tonini commented on #166
@whatyouhide @mattdeboard

For example:

![example](http://i.imgur.com/2wJ8giY.png)

So for defining `builtin-declaration` (`def`, `defmodule` etc) or `builtin-namespace` (`import`, `use` etc) it would use `font-lock-type-face` and for just used module name convention it uses a different font face, the same as for atoms `elixir-atom-face`.

what you guys think?

[2015-01-25 09:27] whatyouhide commented on #166
@tonini I think highlighting `import`/`defmodule` differently than using modules (`Enum`, `Keyword` in the screenshot) is just confusing (again, this is since they're the same thing in the language).

[2015-01-25 09:34] tonini commented on #166
Ok I see your point and thinks the way to go. I wi start with making the changes.

[2015-01-25 09:35] whatyouhide commented on #166
@tonini great! Keep us updated :+1:

[2015-01-25 18:08] mattdeboard commented on #167
Triple-quoted strings are extremely difficult. I have tried many times to get this right. :(

The only thing I can suggest is to copy and paste python-mode's impl.

[2015-01-26 07:06] tonini commented on #166
@mattdeboard what's the reason to use a fixed `elixir-atom-face` function for atoms?

Through that there is no way to customize the color look of atoms through the color-scheme itself.

Maybe we just could use the `font-lock-constant-face` for atoms?

What do you think about that?

[2015-01-26 08:59] whatyouhide commented on #167
I'd like to help *a lot*, but I really have not enough Emacs/elisp knowledge to to basically anything. It seems odd that triple-quoted-strings highlighting is so difficult. In vim (and vim-elixir), it's really simple to tell the editor to just highlight anything inside `"""` without breaking out of `"""`s (giving it precedence over single-quoted strings and so on).

[2015-01-26 09:00] whatyouhide commented on #86
Any news on the indentation of heredocs?

[2015-02-01 19:55] edubkendo opened #168 "Error encountered when working with macros"
I've been working through the Metaprogramming Elixir book and have noticed that indentation seems to be rather problematic when defining macros.  Most of these I can work around ok, but since this one caused an actual error I thought I should report. I'm attaching a screenshot to illustrate:

![screenshot 2015-02-01 13 47 42](https://cloud.githubusercontent.com/assets/1395968/5993518/99bd0356-aa19

[2015-02-02 13:30] tonini commented on #168
Thanks @edubkendo for reporting.

I will have a look at it.

Cheers

[2015-02-03 10:29] andreas-roehler opened #169 "unknown macro property "&define" in elixir-deftest"
When running tests from a shell-script, it breaks with error:
"unknown macro property &define in elixir-deftest"

See also

https://travis-ci.org/elixir-lang/emacs-elixir/jobs/46639534

Commenting out that lines at the end of file makes tests run.

Cheers,

Andreas

[2015-02-03 12:36] andreas-roehler commented on #167
On 24.01.2015 20:06, Andrea Leopardi wrote:

[ ... ]

While maintaining python-mode.el, whill have a look at it.

Cheers,

Andreas

[2015-02-03 12:48] tonini commented on #167
Great! Thanks a lot :-)

Andreas Röhler <notifications@github.com> schrieb am Di., 3. Feb. 2015
13:36:

[2015-02-03 12:53] cs-victor-nascimento opened #170 "Indent struct properties with names of reserved words properly"
Just stumbled upon this tricky one when using s %ExUnit.Test{} struct. When I try to access the 'case' property it thinks its the start of a case expression and indents the next line as if it were inside the case expression.

For example, try this (don't mind my noobines in Elixir \o/):

![screenshot from 2015-02-03 10 51 31](https://cloud.githubusercontent.com/assets/7049728/6020392/a49fbaa0-ab92

[2015-02-09 14:03] andreas-roehler commented on #167
On 25.01.2015 19:08, Matt DeBoard wrote:

Hi Matt,

having a look into your related branch, must have been pretty close to solution.
Sometimes its a kind of woodoo :)

Andreas,
your new contributor/collaborator

[2015-02-11 11:55] whatyouhide commented on #166
Hey there, any news on this? /cc @tonini @mattdeboard

[2015-02-11 12:58] andreas-roehler commented on #166
On 11.02.2015 12:55, Andrea Leopardi wrote:

Hi,

case #167, https://github.com/elixir-lang/emacs-elixir/pull/171 is done,
volonteering for this, as it's expected pretty close an issue.

Andreas

[2015-02-11 12:59] whatyouhide commented on #166
@andreas-roehler awesome! Keep us updated :)

[2015-02-12 17:32] andreas-roehler commented on #166
On 11.02.2015 13:59, Andrea Leopardi wrote:

AFAIU that case deserves to be closed. Atoms are highlighted nicely with its own face.

Module-names --as discussed also-- IMO are a different matter anyway and should get its own ticket.
However, also nice AFAICS.

Cheers,

Andreas

[2015-02-13 08:55] zkat commented on #129
Hey. I seem to be getting this too. Any update on this?

[2015-02-19 15:36] whatyouhide commented on #166
So any news/new opinions on this one? /cc @andreas-roehler @tonini

[2015-02-19 15:58] andreas-roehler commented on #166
On 19.02.2015 16:36, Andrea Leopardi wrote:

Suggest to merge as is.

Implementing a different face for string-interpolation should be possible, IMO a nice-to-have.
However looks like a non-trivial task and maybe not to most needed WRT known bugs.

[2015-03-02 17:40] edubkendo opened #172 "Numeric digits in atoms break syntax highlighting"
For example, the atom `:msisdn2pid` which comes from an example in a book I'm reading.

![screenshot 2015-03-02 11 38 01](https://cloud.githubusercontent.com/assets/1395968/6446450/e1e06772-c0d0-11e4-9fbb-379d071c74a3.png)

[2015-03-12 23:50] jxs opened #174 "elixir-mode version > 2.1.0 breaks expand-region"
Hi there,
since updating 2.2.0 [expand-region](https://github.com/magnars/expand-region.el) breaks, there's no output on messages buffer, emacs just stops responding until i C-g

thanks!

[2015-03-13 00:06] rranelli commented on #174
I'm using the latest elixir-mode and could not reproduce the issue.

Have you tried updating your packages to their latest versions ? (are you using melpa ?)

Can you reproduce it by opening a clean emacs (emacs -q) and only requiring `elixir-mode` and `expand-region` ??

[2015-03-13 00:53] jxs commented on #174
yes sorry for not giving better details, i am using expand region 0.10.0, all installed ia melpa
(had to downgrade to elixir-mode.el 2.1.0 after the issue)
i just launched emacs -q 24.4.1 on os x, then required manually expand-region and elixir-mode, and still have the same problem

[2015-03-14 16:42] #174 closed

[2015-03-16 13:33] rranelli commented on #174
Hi @jxs,

It's nice that you managed to solve it. Just out of curiosity, what was the actual problem and how did you solved it ?

Thanks!

[2015-03-17 13:48] jxs commented on #174
hi @rranelli, I am not sure what the actual problem was sorry, i think it was a conflict with another package version maybe, because i solved it by deleting my elpa packages folder and installing them all again

thanks

[2015-03-17 21:56] whatyouhide commented on #166
Anything on this? /cc @tonini @mattdeboard

[2015-03-17 22:07] mattdeboard commented on #166
Not from me. :)

[2015-03-17 23:53] whatyouhide commented on #166
@mattdeboard you think only stdlib modules should be highlighted but not
user-defined modules?

On Tuesday, March 17, 2015, Matt DeBoard <notifications@github.com> wrote:

--

Andrea Leopardi
an.leopardi@gmail.com

[2015-03-17 23:59] mattdeboard commented on #166
No, I don't think that at all. I think it's a worthy project to undertake, I just don't have the time for it at the moment.

[2015-03-18 00:11] whatyouhide commented on #166
Ah okay, I didn't understand what your position was :).

I'm not fluent with elisp (and emacs is not even my main editor actually),
so I probably won't be able to tackle this. Not for a while at least :).

Let's hope @tonini or someone else will fix this!

On Wednesday, March 18, 2015, Matt DeBoard <notifications@github.com> wrote:

--

Andrea Leopardi
an.leopardi@gmail.com

[2015-03-18 00:30] mattdeboard commented on #166
Already the Atom editor's elixir "mode" seems much better equipped for languages with maximally significant whitespace.

[2015-03-18 11:44] andreas-roehler commented on #166
On 18.03.2015 01:30, Matt DeBoard wrote:

Hmm, what makes you thinking this?

BTW being not that current in elixir itself, got slightly confused by the labelling here.
An atom is syntactically defined in elixir, while a module name is a special thing.

So we talk here WRT module-names, elixir atoms as such are not at stake, right?

Cheers,

Andreas

[2015-03-18 13:32] whatyouhide commented on #166
Elixir module names are atoms, but yes I'm specifically talking about
modules (not `:atoms` to be clear).

I think this is something like a regex for capitalized words away.

On Wednesday, March 18, 2015, Andreas Röhler <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

--

Andrea Leopardi
an.leopardi@gmail.com

[2015-03-18 14:19] rranelli commented on #166
@mattdeboard I could try to work this out if everyone's okay with that.

[2015-03-18 14:22] rranelli commented on #164
Flycheck has this kind of issues in other languages too (ELisp being one of them). I don't know the details, but I've learned to ignore these "{module,file} could not be found".

I think this issue can be closed.

[2015-03-18 14:59] whatyouhide commented on #166
@rranelli please, do! :smile: :+1:

[2015-03-18 17:03] andreas-roehler commented on #166
On 18.03.2015 14:32, Andrea Leopardi wrote:

IMHO that was okay to start with - meanwhile we should implement it more reliable.
There might be other terms appear capitalized  too.

As a module name will show up at certain positions only, should be a way to determine that.

[2015-03-19 00:06] whatyouhide commented on #166
I think capitalized words should not be highlighted only in a few (obvious) places: comments, strings, and `:`-prefixed atoms.

[2015-03-19 02:40] rranelli commented on #166
I have created a pull request (#179) that addresses this Issue. It's still not mergeable because I want to add more test cases to the suite.

I have posed some questions there and would like to hear you guys opinions.

thanks

[2015-03-19 07:10] andreas-roehler commented on #166
On 19.03.2015 03:40, Renan Ranelli wrote:

Hi Renan,

still an abstract reasoning:

IIUC there is no syntactic reason to capitalize a module name, it's just a convention, so a mode should not rely on this.
Even if regular expressions should be not powerful enough to determine a module name, Emacs will be able to solve that task: the fontifying machine optionally takes functions.

Cheers

[2015-03-19 10:15] whatyouhide commented on #166
Wha do you mean @andreas-roehler?

[2015-03-19 11:23] andreas-roehler commented on #166
On 19.03.2015 11:15, Andrea Leopardi wrote:

IIUC elixir syntax accepts also lower-cased module-names.

[2015-03-19 12:07] whatyouhide commented on #166
@andreas-roehler you can't define module names with lowecase atoms (at least not without prefixing them with `:`).

[code]

Capitalized words in Elixir are just a facility to represent atoms in the form `:"Elixir.Something":

[code]

[2015-03-23 13:14] larshesel opened #180 "Wrong indentation after one line functions ending with a bitstring"
[code]

[2015-03-23 20:46] andreas-roehler commented on #166
defmodule :foo do
  end

would work. While it's not capitalized.

[2015-03-25 03:49] beadsland opened #181 "no indentation"
elixir-smie--semi-ends-match: Invalid function: (self-call nil (if (< (point) (point-max)) (elixir-smie--semi-ends-match) nil))

[2015-05-17 19:23] larshesel opened #184 "wrong indentation for multiclause anonymous functions"
I would expect the clauses to be aligned vertically at the begin paren:

[code]

[2015-05-17 19:48] mattdeboard commented on #184
No, it is normal indentation when continuing a closure or function call on the following line.

[2015-05-18 07:35] larshesel commented on #184
Hi @mattdeboard
I'm not sure I understand completely - the second function clause '(2) -> false' has the same indentation as the first 'fn(1) -> true', but the third clause is indented two spaces. I'd expect the second clause to be indented as well or at least have all the clauses have no indentation, not a mix.

Doesn't the above look weird to you? Is there another way of writing the code so it l

[2015-05-18 07:58] larshesel commented on #184
If I extend the example a bit, I think it more clearly shows that the indentation of the different clauses is inconsistent:

[code]

[2015-05-19 15:30] gausby opened #185 "`?"` confuses the syntax highlighter"
Hi, thanks for a great package. I have a small problem and I think this is the right repo to report it in.

[code]

Will confuse the syntax highlighter. Everything to the end of the file will be considered as a binary.

[2015-05-19 17:21] andreas-roehler commented on #185
Am 19.05.2015 um 17:30 schrieb Martin Gausby:

The doublequote is special, needs to be quoted as a literal

"\"foo\""  |>  String.strip(?\")

[2015-05-19 17:27] gausby commented on #185
Okay, that works. But I guess `?"` is valid Elixir, so I guess the highlighter should take it into account. (I wish I know more about elisp so I could give it a hurl myself)

[2015-05-19 17:47] mattdeboard commented on #185
@gausby You are correct, it should work like this, and the fact that `?"` is not handled by the highlighter is a bug. However, if I recall correctly, as I was rewriting this mode last year this one specifically was quite difficult to fix. I agree it is annoying.

It can be very complicated. For example, how to tell the syntax highlighter to color

[code]

Also note that at least [one test](https:/

[2015-05-19 17:53] mattdeboard commented on #181
Can you please provide more context so this can be triaged?

[2015-05-19 17:55] #172 closed

[2015-05-19 17:57] mattdeboard commented on #166
Ok here is my suggestion so we can bring this ticket to some kind of conclusion.

Ask one of the language contributors, probably in #elixir-lang on IRC, if it is safe to highlight all symbols that start with a capital letter as an atom. If it is then the fix should be fairly straightforward.

[2015-05-19 17:58] #164 closed

[2015-05-19 17:59] #181 closed

[2015-05-20 03:53] mattdeboard commented on #170
Thanks for opening this issue. I've added a failing regression test to capture this indentation bug.

[2015-05-20 03:59] mattdeboard commented on #180
So I tried adding a regression test for this but oddly enough, it passed, but it caused another test to fail.

[code]

This passed (unexpectedly), but had this for output:

[code]

Obviously the latter test normally passes. How weird. There must be some kind of state mutation that we're not resetting after tests...

[2015-05-20 04:01] mattdeboard commented on #185
By "if you wanted to contribute" I mean, "If you have the time and inclination to contribute". I think that could be misinterpreted as snark or something, but it definitely is not.

[2015-05-20 04:13] mattdeboard commented on #167
The issue here is that triple-quoted strings (TQS) only get highlighted "correctly" by accident. A single TQS is, to the highlighting algorithm, 3 pairs of quotes. So the opening triple-quote is actually 1 full pair of quotes, and one half-pair of quotes, which is why the behavior described by @whatyouhide is happening. The highlighter sees the `"` before `application/json` as the closing quote to

[2015-05-20 05:09] tonini commented on #180
@mattdeboard @larshesel I suppose I found the issue.

Because of the bitstring in the `elixir-smie-backward-token` it's checking for `elixir-smie--binary-sequence-regexp` and returns `OP`.

So on line `3` below:

[code]

we get the following rules get called two times:

[code]

With the following changes to the `:after 'OP'` rule it would be fixed.

[code]

[2015-05-20 05:29] tonini commented on #180
@mattdeboard yeah we should have a look at this.

[2015-05-20 05:31] gausby commented on #185
I do want to contribute; I was about to start an elixir emacs mode, but then Samuel started rocking hard on Alchemist, so I never got to start learning elisp because I could focus on Elixir (and my daytime job.)

I will look into adding the unit tests, but time are scarce, and I don't have a proper internet connection at home.

Do you know any good material on learning elisp; I know enough to do b

[2015-05-20 06:05] #166 closed

[2015-05-20 11:18] andreas-roehler commented on #185
Am 20.05.2015 um 07:31 schrieb Martin Gausby:

Going through Elisp as provided by info was great for me.

[2015-05-20 11:53] larshesel commented on #180
@mattdeboard I just tested out the add-test-case-180 branch and the issue looks solved to me :+1:. haven't run the tests, though.

[2015-05-20 13:25] larshesel commented on #184
hey @mattdeboard - do you have time to take a look at my latest comments here? I really think there's an issue with the indentation here, although a minor one.

Cheers,
Lars

[2015-05-21 07:22] andreas-roehler commented on #181
When reading the docu of the caller cl-flet:

Make local function definitions.
Like `cl-labels' but the definitions are not recursive.

wondering if the recursive call to elixir-smie--semi-ends-match is permitted then.

[2015-05-21 07:25] andreas-roehler commented on #184
Indeed, seems definitely a bug

[2015-05-21 08:29] #180 closed

[2015-05-21 08:42] whatyouhide opened #191 "Highlighting of capitalized atoms (modules) when used as structs"
Hey there, I'm superhappy #166 came to a resolution and now is included into emacs-elixir :).

There's still a little issue with the highlighting of modules though: it doesn't work when modules are preceded by a `%` character (= structs).

![screen shot 2015-05-21 at 10 41 17](https://cloud.githubusercontent.com/assets/3890250/7744719/f24a238c-ffa5-11e4-9976-374f9152cedc.png)

Since `Conn` in the

[2015-05-21 08:56] larshesel commented on #184
Just pulled the branch: it seems to solve the issue and all tests passes (emacs 24.4.1)

[2015-05-21 11:19] #184 closed

[2015-05-21 14:46] larshesel opened #194 "config.exs indentation issue"
When working with config/config.exs and similar files, the indentation of the generated files does not macht the behaviour of emacs-elixir.

Emacs-elixir wants to indent like this (no indentation):

[code]

But the existing indentation looks like this:
[code]

[2015-05-21 15:59] mattdeboard commented on #194
Yeah that sort of alignment won't be supported anytime soon or ever, most likely. Left-aligned is the likeliest future.

[2015-05-21 15:59] #194 closed

[2015-05-22 14:46] #168 closed

[2015-05-22 14:47] #191 closed

[2015-05-22 14:48] #165 closed

[2015-05-22 14:49] tonini commented on #129
@tomekowal @zkat could you guys please test that behavior again with the current master branch?

Thanks :+1:

[2015-05-22 19:18] tomekowal commented on #129
I should have checked, what version of package did I install back then to compare the behaviour. Currently I can't even replicate the bug, because I removed the package, when it didn't work for me.

But now I checked it out from repository and both master branch and tag v2.2.2 work for me without this bug, so I think, that the issue might be closed.

Thank you for your work! :)

[2015-05-22 19:19] tonini commented on #129
Great, thanks a lot of testing it :-)

Tomasz Kowal <notifications@github.com> schrieb am Fr., 22. Mai 2015 21:18:

[2015-05-22 20:35] #129 closed

[2015-05-25 13:07] whatyouhide opened #197 "Indenting elements of a list indents them with 4 spaces instead of 2"
This is a minimal working example:

[code]

The first element of a list, when placed not on the same line as the opening bracket, is indented by 4 spaces instead of 2.
Since everything else is indented with 2 spaces, this feels a little odd and I expected it to be:

[code]

What do you think?

[2015-05-25 13:41] #197 closed

[2015-05-25 13:48] tonini commented on #169
@andreas-roehler PR? :-)

[2015-05-25 13:54] whatyouhide opened #199 "Structs, maps and tuples indent 4 spaces instead of two"
This issue is basically exactly like #197, except for tuples, maps, and structs instead of lists. Some minimal working examples:

[code]

[2015-05-25 14:34] #199 closed

[2015-05-25 14:36] whatyouhide opened #201 "Indentation of functions that use :do instead of do...end"
Indentation of functions that use the `:do` syntax (`, do: ...`) instead of the `do ... end` syntax is brokenish. In the example below, the `*` character represents the cursor position.

### Example on a single line

**EDIT**: fixed by the awesome @tonini!

### Example on multiple lines

[code]

Btw, I think the same should happen with this pattern, also very common in the stdlib:

[code]

which i

[2015-05-26 05:22] andreas-roehler commented on #167
Seems that bug is fixed in trunk meanwhile, close?

[2015-05-26 05:27] andreas-roehler commented on #169
Am 25.05.2015 um 15:48 schrieb Samuel Tonini:

Hmm, see this bug from my local run-travis.sh - could not spot the reason.

[2015-05-26 06:25] andreas-roehler commented on #167
Hmm, no, still there.

[2015-05-26 19:31] mattdeboard commented on #201
Fixed by #202

[2015-05-26 19:31] #201 closed

[2015-05-26 19:38] mattdeboard commented on #185
Good news and bad news.

Bad news is, this still isn't fixed.

The good news is, @andreas-roehler's TQS implementation does not get thrown off by `?"` tokens. That is, `?"` is highlighted normally in a triple-quoted string. This is good news because it means the solution, or *a* solution, can be adapted from his code for use in single-quoted strings.

[2015-05-26 19:39] mattdeboard commented on #86
Related to #203

[2015-05-26 19:40] mattdeboard commented on #167
Fixed by #203

[2015-05-26 19:40] #167 closed

[2015-05-26 20:58] mattdeboard commented on #170
There are a couple of separate issues here:

1. Syntax highlighting. We can definitely hard-code a `(symbol-start (and (not (any ".")) builtin))` regex, but I don't think that is the right solution. What we want is to eliminate this entire class of syntax highlighting problem. My first thought is that updating the [elixir-rx macro](https://github.com/elixir-lang/emacs-elixir/blob/master/elixir-mod

[2015-05-26 21:01] mattdeboard commented on #170
We might want to think about updating the grammar to understand dotted notation...

[2015-05-26 21:03] cs-victor-nascimento commented on #170
:+1:

Do you think its best to open 2 issues or leave it as it is?

Also, sorry I can't help much with the elisp side of things. Started reading the elisp manual but couldn't find time to practice it.

[2015-05-26 21:03] mattdeboard commented on #170
No worries @cs-victor-nascimento just making notes for whoever reads the issue.

[2015-05-26 21:03] mattdeboard commented on #170
And no one issue is fine.

[2015-05-26 23:27] whatyouhide commented on #167
:heart: :heart: :heart: :heart: :heart: :heart: :heart: :heart: !!!

[2015-05-27 05:05] andreas-roehler commented on #169
When running rake it tells:

Run test suite

Loading cl-indent...
Running tests on Emacs 24.3.1
Warning: Unknown macro property &define in elixir-deftest
.............................................................................

Ran 77 tests in 1.118 seconds
7 expected failures

[2015-05-27 05:12] andreas-roehler opened #204 "Navigate statements"
Let's have some mode specific navigation.

[2015-05-27 06:38] andreas-roehler opened #206 "Fontify string-interpolation"
As expected: due to fixes of #167, fontify triple-quoted-string, string-interpolation lost its face

[2015-05-27 06:45] andreas-roehler commented on #206
syntax-propertize-rules don't allow overlapping matches - first match takes all.
Maybe find a solution for TQS which doesn't employ this - see old python.el resp. python-mode.el

[2015-05-27 07:34] whatyouhide opened #207 "Binary syntax (<<>>) throws number highlighting off"
`elixir-mode` highlights numbers (which is great), but the binary syntax `<<>>` throws the highlighting off. Minimal example to reproduce:

[code]

the example looks like this:

![screen shot 2015-05-27 at 09 32 07](https://cloud.githubusercontent.com/assets/3890250/7831074/727acee2-0453-11e5-960c-1bbe85e834d0.png)

where the first number isn't highlighted (I guess due to being next to `<<`) and t

[2015-05-27 07:38] whatyouhide opened #208 "Negative numbers are highlighted differently than positive numbers"
Well actually they aren't highlighted at all:

![screen shot 2015-05-27 at 09 38 37](https://cloud.githubusercontent.com/assets/3890250/7831156/2bab3dc0-0454-11e5-8e57-8a7fda6b0023.png)

[2015-05-27 10:15] andreas-roehler opened #209 "Shorter prefix"
IMO reading source-code will be easier with a shorter prefix, so reader might focus on the part which matters.

With "elixir-mode-bla-blub" the "-mode-" part is redundant.

Also "elixir-" might be shorter, as not keeping info by themself. What about "exs-"?

[2015-05-27 11:50] mattdeboard commented on #207
Is there even value in highlighting numbers separately?

[2015-05-27 12:36] whatyouhide commented on #207
Well, personally I like highlighted numbers a lot but I was just reporting the bug in this case :)

[2015-05-27 12:41] mattdeboard commented on #209
This seems like an unnecessary change. What problem does it solve?

[2015-05-28 07:27] andreas-roehler opened #210 "Navigate top-level forms"
Let's have a command like C-M-a resp. C-M-e in Emacs Lisp.

[2015-05-28 09:14] andreas-roehler commented on #209
Seems we agreed onto "elixir-" meanwhile. Shorten "elixir-mode-fill-doc-string" onto "elixir-fill-doc-string" etc. should be a progress.

[2015-05-28 12:34] andreas-roehler commented on #210
Suggesting

elixir-backward-top-level
elixir-forward-top-level

[2015-05-28 12:50] andreas-roehler commented on #210
BTW let's have elixir-verbose-p, messaging some positional info from moves.
Also elixir-debug-p - kind of selfexplaining ;)

[2015-05-28 14:56] ianrumford opened #212 "Indentation error on consecutive defmacro calls"
Hi Matt,

Just started using elixir-mode and its great.  Thanks you so much for your effort.

btw I'm using elixir-mode 2.2.4 with emacs 24.3.1

I'm working my way through Chris McCord metaprogramming book and this example from chapter 2:

[code]
ends up look like this when tabbed:

[code]

[2015-05-28 15:09] mattdeboard commented on #212
Oof. Alright, thanks for the report.

[2015-05-28 16:57] tonini commented on #212
I will have a look at this one.

[2015-05-31 07:16] #209 closed

[2015-06-01 04:37] #212 closed

[2015-06-02 11:59] andreas-roehler opened #215 "Display command and docu in menu"
Consider it helpful, if the real command-name is indicated by menu.
That way user may question C-h f NAME.

Also some docu displayed seems useful.

[2015-06-10 07:23] v6 opened #216 "// , Can emacs-elixir be used in conjunction with Emacs Evil-mode?"
// , I use Evil-mode with Programmer Dvorak.

[2015-06-10 07:27] tonini commented on #216
emacs-elixir is just a language [major mode](http://www.gnu.org/software/emacs/manual/html_node/emacs/Major-Modes.html) so you just can use it like any other major or minor mode with Evil-Mode.

[2015-06-10 07:30] #216 closed

[2015-06-10 07:38] v6 commented on #216
// , Good. Thanks for saving me the time I'd have spent testing it out.

[2015-06-14 20:42] whatyouhide opened #217 "Indentation of parenthesized expression"
This is the minimal case I've been able to use to reproduce this:

[code]

This is indented not correctly as:

[code]

[2015-06-15 04:26] tonini commented on #217
@whatyouhide Thanks for reporting :+1:

[2015-06-15 14:04] whatyouhide opened #218 "Atoms highlighted incorrectly in pattern matches"
When an atom is used as the only thing on the left-hand side of a pattern match, it's highlighted incorrectly (meaning not as an atom, but like when there's a single variable on the LHS):

![screen shot 2015-06-15 at 16 04 24](https://cloud.githubusercontent.com/assets/3890250/8161555/3940758a-1378-11e5-92d7-0741f2cc0ca5.png)

[2015-06-16 05:30] tonini commented on #218
As always, thanks for reporting :+1:

[2015-06-17 21:05] redvers opened #219 "[] Balancing breaks when contents in regex contain a #"
Minimal case:

[code]

Thanks,

Red

[2015-06-18 08:54] #217 closed

[2015-06-18 08:56] #218 closed

[2015-06-18 21:09] #86 closed

[2015-06-19 05:08] tonini commented on #207
I asking myself the same like @mattdeboard mentioned. Should we really highlighting numbers separately?

I would like to fix that and remove highlighting from numbers at all.

#208

[2015-06-19 07:45] tonini commented on #208
I don't get any highlighting at all for numbers. (pos/neg)

Hm, do you get this with the current master?

[2015-06-19 08:26] whatyouhide commented on #208
@tonini actually I'm trying this now and I don't get any highlighting for numbers either. Given that I was using [spacemacs](https://github.com/syl20bnr/spacemacs) at the time I reported this bug, it may be that something like [this](https://github.com/Fanael/highlight-numbers) was enabled and I didn't know that.

We can close this and continue to discuss if highlighting number is worth it in #207

[2015-06-19 08:26] #208 closed

[2015-06-19 08:28] whatyouhide commented on #207
AS I mentioned in #208, this was probably a problem related with some other mode (like [this](https://github.com/Fanael/highlight-numbers)) which highlighted numbers by itself. I don't think elixir-mode highlights numbers at all.

That said, while I like number highlighting a lot, I realise it adds complexity to elixir-mode for very little gain so I'm :+1: on not highlighting them. You can remove

[2015-06-19 08:28] #207 closed

[2015-06-21 09:09] tonini opened #223 "Wrong indentation for closing Map curly bracket"
### Wrong behaviour

[code]

### Correct behaviour

[code]

[2015-06-22 21:36] whatyouhide opened #224 "Module name isn't highlighted in some cases"
Module names aren't highlighted if preceded by a pipe `|` character. This is the minimal example to reproduce the behaviour:

    |List

and this is a screenshot of the behaviour in action:

![screen shot 2015-06-20 at 18 28 36](https://cloud.githubusercontent.com/assets/3890250/8293698/8fa412b4-1937-11e5-89c1-819dd5108b53.png)

[2015-06-26 13:15] whatyouhide opened #225 "`==` highlights LHS as a variable"
This happens with the `==` operator:

![screen shot 2015-06-24 at 14 35 31](https://cloud.githubusercontent.com/assets/3890250/8377938/053ba9d4-1c16-11e5-82a4-8ae90c273d41.png)

It highlights `a` like if it were a variable assignment (i.e., `a = b`).

(btw, for the record, I'm :-1: on highlighting variable assignments because Elixir has no variable assignments, only pattern matching with variable

[2015-06-28 18:50] andreas-roehler commented on #206
A solution should be possible along this:

http://emacs.stackexchange.com/questions/13128/highlighting-shell-variables-within-quotes

[2015-07-03 11:24] duff opened #226 "Double quote characters within a regex"
When the `"` character appears in a Regex, the highlighting is attempting to treat it as a binary rather than just another character in the Regex.  So, for example, if I have a Regex such as:

[code]

the highlighting looks like this:

![line_ex](https://cloud.githubusercontent.com/assets/2437/8498262/ac753c4c-2152-11e5-963d-1d5a96a0c4c3.jpg)

So it looks like it's thinking that part of the Regex

[2015-07-14 08:27] michalmuskala commented on #226
Related - the highliting is also broken for char `?"`
![screenshot from 2015-07-14 10 24 09](https://cloud.githubusercontent.com/assets/477062/8669202/da7fcd1e-2a12-11e5-95e6-cbae7ffe584c.png)

[2015-07-14 08:31] michalmuskala commented on #224
It also doesn't work correctly with `&`
![screenshot from 2015-07-14 10 30 14](https://cloud.githubusercontent.com/assets/477062/8669278/7de7beee-2a13-11e5-958d-f59c65d9db8c.png)

[2015-07-14 09:28] gausby commented on #226
@michalmuskala #185 has some discussion about `?"`

[2015-07-14 10:05] michalmuskala commented on #226
Thanks, I must have missed it.

[2015-07-18 07:04] svs opened #227 "Indentation issues"
I've copy pasted an example from Dave Thomas's Programming Elixir and the indentation is very weird. Example reproduced below:

[code]

I'm using v. 2.2.5 from melpa-stable.

thanks.

[2015-07-18 07:17] tonini commented on #227
@svs Thanks for reporting. :+1:

[2015-07-18 07:18] tonini commented on #224
Thanks for reporting

[2015-07-30 17:26] manukall opened #229 "Indentation of parameters when no parenthesis are used"
[code]

should the line starting with `key: ...` be indented one more level? the same happens in config files generated by phoenix.

[2015-07-30 19:06] whatyouhide commented on #229
:+1: yes I think it should.

[2015-07-31 07:58] tonini commented on #229
This is really hard to accomplish because of Elixir's flexible syntax.

How uniq is this case? I mean are there any other situations where a key (`whatever:`) would be at the beginning of a line?

[2015-07-31 08:01] manukall commented on #229
i don't think it's that uniq. the automatically generated config files from phoenix are full of that. the example above is also copied from the mailgun readme.

could checking whether the line before ended with a "," work?

[2015-07-31 11:12] tonini commented on #229
I need to test some cases for that. :)

Thanks for the reporting, I'll have a look at it and report back if I get something to work with.

[2015-07-31 11:18] manukall commented on #229
cool. let me know if i can help.

[2015-08-04 19:52] tonini commented on #227
Thanks! Is fixed with #231

[2015-08-04 19:52] #227 closed

[2015-08-04 20:13] #223 closed

[2015-08-05 05:27] tonini commented on #224
#233

[2015-08-05 05:52] #225 closed

[2015-08-05 06:00] tonini commented on #219
Thanks for the report :+1:

[2015-08-05 08:55] #215 closed

[2015-08-06 04:45] tonini commented on #169
@andreas-roehler We just can remove these additional line in the `declare` part of the `elixir-test` macro. There is no need to define them there. Ert get's the additional meta properties anyway.

3377e652e34644c789c6145b67cfe25ac0f1bacb

Thanks!

[2015-08-06 04:45] #169 closed

[2015-08-06 04:56] tonini commented on #204
we have #210 thats enough :+1:

[2015-08-06 04:56] #204 closed

[2015-08-17 01:44] cs-victor-nascimento commented on #170
This seems to be fixed now :+1:

You can close this one!

[2015-08-17 01:51] cs-victor-nascimento opened #237 "Indent multiclause function HEAD definition"
When you are writing long function heads that you would like it to wrap to the next line it goes all the way back.

For example:

![screenshot from 2015-08-16 22 48 50](https://cloud.githubusercontent.com/assets/7049728/9296699/06ed99ba-4469-11e5-9f7c-393c741eb1b5.png)

In this case I think `when` should be idented one level. Though I've seen in Plug's code that they usually ident it until after `

[2015-08-22 09:13] svs commented on #227
[code]

the third and fourth cases are improperly implemented.

[2015-08-22 09:30] tonini commented on #227
I can't reproduce this so far.

I tried the following code and it always indent correct.

[code]

What version of `elixir-mode` are you using?

[2015-08-22 12:49] svs commented on #227
2.2.6

[2015-08-22 15:09] gausby opened #238 "Wrong indent when expressions return tuples in case-expressions"
Currently this:
[code]
indent like this:
[code]

[2015-08-23 08:53] tonini commented on #227
Ok, I tested it intensively and a few other `elixir-mode` users too and we couldn't reproduce the issue.

I'm wondering if you indent it specific, like go to the line and indent or select the whole block and indent?

I really can't get any issue there.

[2015-08-23 17:44] jimm opened #239 "Emacs hangs when point moved to a one-line function definition"
Save the following two lines as an .ex or .exs file and open it in Emacs. Move to the second line. Emacs hangs. My CPU meter shows it's using 100% CPU.

[code]
I'm using Emacs for Mac OSX (http://emacsformacosx.com/) and running the latest Mac OS X version, 10.10.5. The Elixir package I'm using is 20150807.338 from MELPA.

[2015-08-23 18:05] gausby commented on #239
Confirmed.

You should notice that you cannot create named functions outside of modules in Elixir/Erlang. But it does feel like there is some slight lag (a tiny amount) when moving the cursor over the definitions when they are put into a module as well.

[2015-08-23 18:09] jimm commented on #239
Thanks for the quick response! I was originally writing a .exs file, and thought that I didn't have to have everything inside a module, but that makes perfect sense. When I put those two lines inside a module, I don't feel much of a delay on my system. I'm guessing the delay is SMIE, but am not familiar enough with it to have any suggestions.

[2015-08-24 05:30] tonini commented on #239
Hi @jimm and @gausby

Thanks for reporting this issue. I'm already on it :+1:

[2015-08-24 10:20] jimm commented on #239
@tonini thank YOU.

[2015-08-24 10:21] jimm commented on #239
Oops. Ignore the close/reopen. Sorry.

@tonini Thanks for looking into this. I'd love to learn how to debug this kind of thing. Adding `message` print statements to the code?

[2015-08-26 12:54] whatyouhide commented on #238
:+1: on this, I wanted to report this as well :)

[2015-08-26 14:58] #238 closed

[2015-08-26 14:59] tonini commented on #238
Thanks guys for reporting this one! :+1: :yellow_heart: :green_heart: :heart:

[2015-08-26 16:57] gausby commented on #238
Nice :+1:

[2015-08-26 20:09] michalmuskala opened #242 "Correct indentation for `for` comprehensions"
Example:
[code]

To be honest, I'm not sure that's the correct way to indent it, but I can't think of a different one that would make sense.

[2015-08-26 21:10] whatyouhide commented on #242
FWIW, that's how I indent that kind of code as well. When I need `do...end` in the comprehension, I usually indent like this:

[code]

Just for the record, maybe not the best way to do it.

[2015-08-27 17:52] hunterboerner opened #243 "Correct indentation for pipe operator"
The [elixir style guide](https://github.com/niftyn8/elixir_style_guide) recommends this:

[code]

emacs-elixir will indent the second example as:

[code]

It would be nice if support for the elixir style guide format could be added. Thanks :)

[2015-08-27 19:22] gausby commented on #243
Also, I have seen core code written like this:
[code]
I don't know what the Elixir community think of that style, but I kinda like it.

[2015-08-28 07:10] whatyouhide commented on #243
Hey @gausby, yes there definitely is code like the one you showed in the Elixir core. However, have a look at [this discussion](https://github.com/niftyn8/elixir_style_guide/pull/33), the consensus is pretty much set on @hunterboerner's example.

PS, :+1: on the issue!

[2015-08-28 07:46] gausby commented on #243
@whatyouhide coming from a node.js background I can say that it is really easy to change ones preferences when it comes to formatting, so I can change...but coming from a node.js background I also have some scepticism when it comes to style-guides…in this case I don't really buy the argument about the eyes that has to travel a further distance; seems more like a statement of personal aesthetics th

[2015-09-05 17:39] michalmuskala opened #245 "true, false and nil also higlighted inside other identifiers"
We recently gained highlighting for `true`, `false` and `nil` as atoms. But they are also highlighed when appearing inside function or variable names.

For example:
![screenshot from 2015-09-05 19 36 28](https://cloud.githubusercontent.com/assets/477062/9700502/883341ea-5405-11e5-9f71-7b0a86c7b498.png)

[2015-09-06 00:35] syohex commented on #245
I sent PR #246 for this issue.

[2015-09-06 10:10] tonini commented on #245
fixed with #246

[2015-09-06 10:10] #245 closed

[2015-09-08 10:12] gausby opened #247 "Indentation fails after `try`"
[code]
Will Get indented to this:
[code]
Notice the placement of `:ok` on line four.

[2015-09-08 10:55] whatyouhide opened #248 "Indentation of `if` fails after a ->"
These two (minimal-ish) cases break the indentation of `if` (by both indenting the `if` one level less than it should be indented):

[code]

and

[code]

FWIW, `unless` seems to work in those cases.

[2015-09-08 16:17] tonini commented on #239
@jimm I'm using `edebug` https://www.gnu.org/software/emacs/manual/html_node/eintr/edebug.html

But in this case it's actually hard because Emacs hang up. :-) I will have a look at it soon I get some free time.

Thanks

[2015-09-08 16:50] mattdeboard commented on #239
If it were me I'd probably look at the grammar which definitely seems incomplete. Like [here](https://github.com/elixir-lang/emacs-elixir/blob/master/elixir-smie.el#L116) is the only line where `do:` is mentioned as a token. Of course historically I would spend hours tinkering with the grammar only to give up in the end and just add another rule to `elixir-smie-rules` to special-case it.

I'll but

[2015-09-09 08:14] #248 closed

[2015-09-10 09:25] whatyouhide opened #250 "`raise` is sometimes highlighted when it shouldn't"
`raise` should only be highlighted when used by itself, right? If this is the case, then the highlighting of

[code]

is incorrect as `raise` is highlighted as a special keyword.

[2015-09-10 11:39] michalmuskala opened #251 "Atoms with special caracters are not properely highlighted"
Atom literals in elixir can contain symbols such as: `@!?`. If an atom contains one of those it's not highlighted as an atom.

![screenshot from 2015-09-10 13 36 01](https://cloud.githubusercontent.com/assets/477062/9787244/585f6e02-57c1-11e5-90d9-2aaee437ebc9.png)

[2015-09-10 12:09] syohex commented on #251
I suppose this issue can be fixed by following patch. I will sent PR after merging #252.

[code]

[2015-09-10 12:40] tonini commented on #251
@syohex yes that would be great if you could make a PR for this one. :+1:

[2015-09-10 12:41] tonini commented on #250
@whatyouhide It's fixed with the PR #252 by @syohex :+1:

[2015-09-10 12:41] #250 closed

[2015-09-10 12:42] tonini commented on #247
@gausby I'll work on this atm, I stumbled over many other related issues. I need to work on the grammar :+1:

[2015-09-10 13:00] syohex commented on #251
I have sent PR #253

[2015-09-10 14:50] #251 closed

[2015-09-12 15:35] beedub opened #254 "error "Variable binding depth exceeds max-specpdl-size""
I'm getting the error above when pressing on the last line in the code below. Any ideas?

[code]

[2015-09-12 15:43] beedub opened #255 "Improper indentation for underscore in case"
It indents properly with one preceding clause, but when there are two or more preceding clauses, it indents one too many.

Not sure if this is related to https://github.com/elixir-lang/emacs-elixir/issues/254

[code]

[2015-09-12 16:40] gausby commented on #254
The `Error: (error "Lisp nesting exceeds `max-lisp-eval-depth'")` error will go away if the do block is ended like this:
[code]
Omitting the `end` will cause a parse error.

[2015-09-12 16:49] beedub opened #256 "Comprehension (mis)indentation"
Returning on a one-line comprehension shouldn't indent the next line, right?

[code]

[2015-09-12 19:49] gausby commented on #256
Hi, this doesn't seem to be a problem in master. I think that you might be running an older version.
[code]

[2015-09-12 21:34] beedub commented on #256
Ah, looks like I removed necessary dependent code from the test case. Adding `defmodule` before it makes the indentation weird.

[code]

[2015-09-13 05:44] beedub opened #257 "receive/after (mis)indentation"
[code]

[2015-09-13 11:16] tonini commented on #257
Thanks for reporting, I'll have a look at this one. :+1:

[2015-09-13 11:17] tonini commented on #256
Thanks! I'll have a look at this too. :smile:

[2015-09-13 11:18] tonini commented on #255
:+1: Thanks! I'll have a look at this one too. :smile:

[2015-09-13 11:19] tonini commented on #254
:+1: Let me check that. :smile:

[2015-09-14 19:12] #239 closed

[2015-09-14 19:16] jimm commented on #239
Thank you!

[2015-09-14 19:26] tonini commented on #239
You're welcome! Thanks for reporting :+1:

[2015-09-16 06:27] #257 closed

[2015-09-16 06:45] #256 closed

[2015-09-16 06:48] tonini commented on #247
Is fixed now.

[2015-09-16 06:48] #247 closed

[2015-09-16 06:58] gausby commented on #247
It sure is! :+1:

[2015-09-17 05:37] #170 closed

[2015-09-21 17:35] jesenko commented on #242
I added failing indentation tests for the cases given above + for the case when for comprehension is combined with assignment, e.g.

[code]

[2015-10-02 09:00] zhyu opened #263 "string-interpolation in ~w sigil"
string-interpolation has been recognized as comment.
<img width="411" alt="2015-10-02 17 49 15" src="https://cloud.githubusercontent.com/assets/1728523/10242819/abe9e452-692e-11e5-94ee-d38157755b8a.png">

Not sure if this is related to #206

[2015-10-02 10:53] syohex commented on #263
To change syntax property of hash mark of `#{}` can fix this issue. Patch is here. However I don't know this is correct way.

[code]

![elixir](https://cloud.githubusercontent.com/assets/554281/10244742/7a6d446a-693c-11e5-913a-4a6b963c0744.png)

[2015-10-02 14:30] tonini commented on #263
Thanks, I'll have a look at this. :+1:

[2015-10-05 01:07] zhyu commented on #263
It seems to be fixed in #264. Thanks, @syohex !

[2015-10-05 01:07] #263 closed

[2015-10-08 21:54] alxndr opened #265 "doublequote in sigil string confuses highlighter"
A string defined with a sigil containing a lone doublequote (i.e. `~s(")`) will confuse the syntax highlighter:

![screen shot 2015-10-08 at 14 51 45](https://cloud.githubusercontent.com/assets/174307/10381019/7aeb8c50-6dcc-11e5-8080-a44903ad7adf.png)

[2015-10-09 09:09] tonini commented on #265
@alxndr this one is already reported with #185

Thanks :+1:

[2015-10-09 10:06] #226 closed

[2015-10-09 10:07] #265 closed

[2015-10-16 06:50] tonini commented on #219
It's fixed on master now because of the awesome work of @syohex :heart: :yellow_heart: :blue_heart:

[2015-10-16 06:50] #219 closed

[2015-10-19 14:14] tonini commented on #224
@syohex I guess you have a solution for this one? ;-)

[2015-10-19 14:53] syohex commented on #224
I suppose `elixir-mode` should change syntax of such characters from symbol character to punctuation character as following patch.  Any other characters than `&`, `|` ?

[code]

Sreenshot with above patch is here.

![fixed](https://cloud.githubusercontent.com/assets/554281/10581202/6cf99d64-76bc-11e5-88f4-481db986a3fb.png)

[2015-10-19 15:51] tonini commented on #224
That sounds like a good idea, would you like to make a PR?

Syohei YOSHIDA <notifications@github.com> schrieb am Mo., 19. Okt. 2015
16:53:

[2015-10-19 20:42] #224 closed

[2015-10-19 21:30] syohex commented on #224
:+1:

[2015-10-19 21:30] tonini commented on #224
Thanks again for your help :+1:

[2015-10-21 19:55] lexmag opened #274 "Correct anonymous fun indentation inside `case` and `cond`"
The anonymous fun arrow `->` breaks an indentation.

<img width="217" alt="screen shot 2015-10-21 at 21 47 10" src="https://cloud.githubusercontent.com/assets/248290/10648314/ed2c693a-783d-11e5-9f3b-9b2b5a213b86.png">

[2015-10-22 04:53] tonini commented on #274
Thanks for the report @lexmag

[2015-10-22 19:27] ianrumford opened #275 "Erlang string formatting directive confuses syntax highlighter"
Hi all,

As usual, want to express my thanks for this awesome major mode.

Bumped up to 2.2.8 a couple of days ago and saw this effect in a file containing an Erlang string formatting directive e.g.

[code]

Github doesn't show the "broken" colour: the third line is all red, and, in my file, the rest of the code is red, with comments green.

If you delete the tilde, the effect goes away.  Same eff

[2015-10-22 21:45] bbhoss opened #276 "Indention issue with function header that specifies defaults and uses shorthand block syntax"
[code]
Thanks!

[2015-10-22 22:14] gausby commented on #276
Same behaviour on my machine. I've made a unit test if anyone wanna crack this one:
[code]

[2015-10-23 05:46] syohex commented on #275
@ianrumford #277 has been merged. Please check latest version.

[2015-10-23 06:10] tonini commented on #275
@ianrumford maybe you need to wait until MELPA built the latest elixir-mode
package ftom master

Syohei YOSHIDA <notifications@github.com> schrieb am Fr., 23. Okt. 2015
07:46:

[2015-10-23 07:54] zw963 opened #278 "Emacs 24.3.1. error"
[code]

But I not found `pkg-info.el` in this repository.

[2015-10-23 07:58] zw963 commented on #278
I have to download `pkg-info.e`l and `epl.el` to make this mode work, but not mention in README.

[2015-10-23 08:07] syohex commented on #278
Dependencies are installed by installing with package.el or el-get.

[2015-10-23 09:56] ianrumford commented on #275
Thanks guys.  I'll take Tonini's advice and wait for the next version on MELPA

[2015-10-23 10:03] gausby commented on #276
I have made a PR with the failing unit test: #279

[2015-10-23 15:54] zw963 commented on #278
I think should exist dependency document for those whose download package from github. thanks.

[2015-10-23 19:53] tonini commented on #278
Hi,

I think @syohex is right. If you not using `package.el` at all and work with the source directory directly you're more or less an experienced Emacs user who knows how to check the dependency line on the header package file. [Header](https://github.com/elixir-lang/emacs-elixir/blob/master/elixir-mode.el#L14)

I think we don't need to mention these package dependencies on the README because of

[2015-10-24 08:41] #275 closed

[2015-10-24 09:03] #276 closed

[2015-10-24 13:32] ianrumford opened #281 "Correct indentation for sucessive macro calls"
Hi all,

Props as always to you guys.

Just seen this on v2.2.8

I have (many) successive calls to one of my macros and the indentation steps to the right for each call and never recovers, even after the last macro call.

For example:

[code]

[2015-10-24 15:55] #281 closed

[2015-10-24 15:56] tonini commented on #281
@ianrumford Thanks for the report.

The issue is fixed on master now (https://github.com/elixir-lang/emacs-elixir/pull/282).

You need to wait until MELPA has build the new package and then just `list-packages` and update `elixir-mode`

Thanks

[2015-10-24 16:12] ianrumford commented on #281
Obliged. later.

[2015-10-25 11:23] gausby opened #283 "Syntax highlighter does not highlight `end` when the last line in a module is a comment"
Not the most important issue in the world, but I've noticed an issue that might be a bit hard to describe in text; I'll try anyway.

If a module has a comment on the last line the `end` will stop getting highlighted until the line with `end` has been updated. If we update the line with the comment the line with `end` will stop highlighting again.

Again, this is not critical. It is just a minor th

[2015-10-26 05:46] tonini commented on #283
Fixed on master.

Thanks @gausby :yellow_heart:

[2015-10-26 05:46] #283 closed

[2015-10-26 05:52] tonini commented on #278
I'll close this issue for now.

Thanks for report and sharing your opinions. :+1:

[2015-10-26 05:52] #278 closed

[2015-10-28 06:28] tonini opened #286 "Syntax highlighting gets destroyed with ~S""" heredoc prefix"
When an `heredoc` as an `sigil` in front of it, the whole syntax highlighting gets messed up.

Example source: https://github.com/elixir-lang/elixir/blob/master/lib/iex/lib/iex.ex#L2

@syohex do you have an idea how to handle this? :-)

![Example](http://i.imgur.com/WASghDA.png)

[2015-10-28 06:59] syohex commented on #286
Could you check #287 patch ?

[2015-10-28 07:11] tonini commented on #286
:+1:

[2015-10-28 07:11] #286 closed

[2015-10-29 08:36] gausby opened #288 "Fix indentation of if within an else"
An if within an else will not indent correctly:

Current
[code]

Expected:
[code]

[2015-10-30 10:05] gausby opened #290 "Indentation of non-finished one-line if-else"
Considering how we should indent non-finished one-line-def example:
[code]
I think it would make sense if single-line-if-else indenting with the following behaviour:
[code]
Am I correct in thinking so, or should splitting a one-line conditional like this result in the current behaviour?

I will provide a unit test for the expected behaviour in my example.

[2015-10-30 14:40] tonini commented on #290
Yes I think that would be correct.

[2015-11-07 20:16] hunterboerner opened #292 "Font lock features"
I noticed two things in Elixir Sips that would be nice in emacs-elixir: quote identifiers being a different color and variables starting with `_` being grayed out. Screenshots of what I'm talking about below:

![screenshot 2015-11-07 14 14 21](https://cloud.githubusercontent.com/assets/1314119/11017087/01f3cbf0-855a-11e5-97df-85902211d835.png)
![screenshot 2015-11-07 14 14 13](https://cloud.github

[2015-11-07 21:02] whatyouhide commented on #292
I'd love for `_variables` to be greyed out, especially because we have `_` highlighted differently in emacs-elixir. To me, `_` and `_variable` have the same meaning (even if there are a couple of semantic differences in how Elixir treats them).

[2015-11-15 23:20] rcoedo opened #293 "~2 second delay when pressing <return> after a "do""
I'm having issues with elixir-mode, not sure what is causing this.

When writing a function definition, after typing the do and pressing return, emacs just hangs for a couple of seconds. It happens with function definitions only (module definitions seem to work well).

eg. "def xxx do<return>" or "defp xxx do<return>" has delay. "defmodule XXX do<return>" has no delay.

I tried a clean emacs insta

[2015-11-16 01:53] mattdeboard commented on #293
This is interesting. Can you paste your sample code where you're seeing this? It'd be interesting to bisect back and see where this delay was intro'd.

[2015-11-16 07:59] rcoedo commented on #293
An empty file with just "def xxx do" will do it. Let me know if you need more details.

[2015-11-16 08:26] syohex commented on #293
Could you check with following configuration ?

[code]

[2015-11-16 08:33] rcoedo commented on #293
That worked @syohex!

[2015-11-16 08:49] syohex commented on #293
Or set small value to `blink-matching-delay`. Default of `blink-matching-delay` is 1 and emacs sleeps its delay before inserting newline.

[code]

[2015-11-16 09:27] rcoedo commented on #293
Thanks again @syohex. I'll close the issue since it had nothing to do with elixir-mode after all :)

[2015-11-16 09:27] #293 closed

[2015-11-23 16:17] mmainz opened #294 "Wrong indention for multiline defstruct"
When I use `defstruct` where the arguments span multiple lines, it does not indent the following lines.

![image](https://cloud.githubusercontent.com/assets/5417714/11341657/aea0c622-9203-11e5-999c-9f346066bf57.png)

When I use parentheses, it works as intended.

![image](https://cloud.githubusercontent.com/assets/5417714/11341670/c16f08f4-9203-11e5-9c16-64e01d5c2e00.png)

I noticed you don't have

[2015-11-23 16:49] gausby commented on #294
I guess this is a question about coding conventions and style, but multiline `defstruct`s created with parenthesis works fine:
[code]
I think this is they direction every styleguide seems to go.

But, you can create a pull request with your unit test and have it accepted if you add the `:expected-result :failed` argument to the test; an example on how to do this is in the test just beneath yours.

[2015-11-23 17:02] mmainz commented on #294
I created a pull request. I'd be happy to implement this myself, but I never worked on anything that has to do with code syntax, so I'm not sure whether I will understand the necessary parts.

[2015-11-23 22:47] whatyouhide commented on #294
@gausby I'm not sure about style guides, but the vast majority of Elixir code I read (and write for that matter) uses the convention @mmainz is using for struct definitions:

[code]

Just to join the conversation :smile: and cause I'd love this in emacs-elixir actually :\

[2015-11-23 22:57] gausby commented on #294
@whatyouhide I could be mistaken, but I think that I remember some talk on the core mailing list discussing the upcoming with-syntax that would require indentation like the one I suggested (and are fairly sure I haven't made it up)

Again, I could be mistaken. I just don't want someone to put time into some indentation rules that would end up not getting accepted.

[2015-11-24 21:38] rranelli commented on #206
Could this issue be closed ?

[2015-11-25 05:25] tonini commented on #294
Currently the indentation for the `defstruct` example is the same as for every other function call. So If we come up with a proper convention/solution many other cases should then be correct/fixed.

[2015-11-26 23:42] hunterboerner commented on #292
@tonini what about the quote styling?

[2015-12-02 12:59] gausby opened #297 "Wrong indentation of the last key in a multiline maps on the match side within case statements"
Wrong indentation of the last key in a multiline maps on the match side within case statements.

Current:
[code]

Expected.
[code]

Notice the extra space before the "baz" key in the current example.

I would mark this issue as low priority, but it is better to report it :)

A pull request with a unit test is coming up

[2015-12-13 07:20] cjhowe opened #300 "Markdown support in docs"
Can we add something like [mmm-mode](https://github.com/purcell/mmm-mode) for using `markdown-mode` within docs? Ideally code examples inside those docs can also switch back to `elixir-mode`. This would make indentation inside docs a lot simpler, and also improve the user experience for writing documentation. Anything to make writing docs and doctests more enjoyable!

Here's an example:

    modul

[2015-12-13 11:32] gausby commented on #300
I agree that this would be neat, and I have been thinking about it to my own emacs config myself, but this should* not be a part of emacs-elixir as it would require adding mmm-mode as a dependency, and there might be other multiple-mode-modes out there that some users might prefer for whatever reason.

I suggest that we add a section about how to get elixir-mode + markdown-mode working with mmm-mo

[2015-12-13 11:44] lexmag commented on #300
Agree with @gausby. :+1:

[2015-12-13 15:25] tonini commented on #300
As @gausby already mentioned, this is something which we shouldn't introduce into the `elixir-mode`.

[2015-12-13 16:08] gausby commented on #300
Does anyone have an mmm-mode setup that works as described?

[2015-12-19 02:58] rranelli commented on #300
When I have to write something more elaborate in the docs with markdown I just use `narrow-to-region` and change the major mode to `markdown`.

When I'm done I get out of the narrowing and return to `elixir-mode`. The experience feels like editing code snippets in org with `org-edit-special`, and I'm pretty happy with it.

never used anything like mmm-mode though

[2016-01-02 05:25] #300 closed

[2016-01-02 05:29] mattdeboard commented on #294
@gausby is right. With the 1.2 release, there is indeed a `with` syntax that requires formatting like:

[code]

[2016-01-02 05:47] mattdeboard commented on #290
Whatever format we decide on for this, I think it should be consistent with the solution in #294 as well as the new `with` syntax announced in the [Elixir 1.2 release notes](https://github.com/elixir-lang/elixir/releases/tag/v1.2.0).

[2016-01-02 05:54] mattdeboard commented on #294
This appears to be a special case of #229

[2016-01-02 05:56] mattdeboard commented on #292
Marking as `wontfix` and closing. If you would like to submit a patch for the fontified quote delimiters that works in every case, we will review that. Thanks

[2016-01-02 05:56] #292 closed

[2016-01-02 05:57] mattdeboard commented on #206
Fixed by #269

[2016-01-02 05:57] #206 closed

[2016-01-02 05:58] #294 closed

[2016-01-02 06:08] mattdeboard commented on #297
This is _also_ a specific case of #229, since `do` is a function.

[2016-01-02 06:08] #297 closed

[2016-01-02 21:35] 3quarterstack opened #302 "Indentation is wrong when using Regex"
Working though the book "Programming Phoenix", in one code example:

[code]

But when I type this snippet in, it shows like this
<img width="741" alt="screen shot 2016-01-02 at 21 31 23" src="https://cloud.githubusercontent.com/assets/1011678/12076189/36c681fa-b198-11e5-8080-3a4a3ed42743.png">

OS: OS X El Capitan
Emacs version: 24.5.1 (Using spacemacs setup)
Elixir-mode: 20151211.412

[2016-01-03 08:54] #302 closed

[2016-01-08 16:09] gausby opened #304 "Indentation issue with for-comprehensions within cases"
It seems that for-comprehensions within cases fail to indent correctly.

Current:
[code]
Expected:
[code]
I will provide a pull request with a failing test shortly.

[2016-01-09 16:35] terakilobyte opened #306 "No highlighting of ExUnit.Assertions Flunk"
Very minor, but the syntax highlighting doesn't seem to be recognizing flunk as a function.

http://elixir-lang.org/docs/stable/ex_unit/ExUnit.Assertions.html#functions

https://www.dropbox.com/s/8ieunf8r2wtz5u4/Screenshot%202016-01-09%2008.35.15.png

[2016-01-10 01:15] syohex commented on #306
`elixir-mode.el` does not highlight test module functions as below. So I wonder why you get such result. What configuration do you use ?

![saample](https://cloud.githubusercontent.com/assets/554281/12219312/1bb48f8e-b782-11e5-90ef-6ec4a18f4759.png)

[2016-01-10 22:13] terakilobyte commented on #306
I'm using the elixir layer for spacemacs as well as alchemist. I was told by @tonini this was in `elixir-mode.el`, or perhaps I misunderstood. If so, no problem, I'll open the issue where appropriate!

[2016-01-11 02:49] syohex commented on #306
@terakilobyte This is alchemist-test-mode issue. I have sent PR https://github.com/tonini/alchemist.el/pull/198. Please check it.

[2016-01-11 05:03] terakilobyte commented on #306
Awesome, thanks! Closing this issue as I'm sure it'll get picked up soon.

[2016-01-11 05:03] #306 closed

[2016-03-17 11:31] rvirding opened #308 "Turn off default indentation by setting tab-stops"
Is there any default way to turn off using tab stops to indent or must I do it by hand. It is generally a very bad way of doing it.

[2016-03-17 11:34] tonini commented on #308
Hi @rvirding

This is something you need to setup for Emacs in general.

https://www.gnu.org/software/emacs/manual/html_node/eintr/Indent-Tabs-Mode.html

[2016-03-17 13:35] rvirding commented on #308
Yes, that I know. What I was trying to get at that changing the actual tab-stop sizes from the default 8 to 2, in this case, is a bad idea. Many things assume tab stops are 8 wide. It looks really weird when you forget to untabify and print the file. And you don't really need to either as it usually just works by the indent function returning how many steps it is to indent.

[2016-03-17 13:43] tonini commented on #308
I think you want to have a look at this article about tabs and indentation
inside Emacs https://www.emacswiki.org/emacs/IndentationBasics

Robert Virding <notifications@github.com> schrieb am Do., 17. März 2016,
14:35:

[2016-03-19 07:37] tonini commented on #308
Hi @rvirding

Did you have success with the article above?

[2016-03-19 12:18] lexmag commented on #290
Speaking about `with`, there is expected indentation for it: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel/special_forms.ex#L1372.

[2016-03-19 12:27] lexmag commented on #237
I think current indentation is correct, IMO.
In Elixir itself there are two styles can be seen:
* same indentation level as for `def`
* 2 extra levels (4 spaces) from `def`

[2016-03-19 12:35] lexmag opened #309 "Char list heredoc breaks highlighting"
Version: 20160103.54

<img width="315" alt="screen shot 2016-03-19 at 13 29 39" src="https://cloud.githubusercontent.com/assets/248290/13898603/c552099c-edd6-11e5-84f0-6c2c702593f9.png">

Sample file: https://github.com/elixir-lang/elixir/blob/c9b0bc8356760e646dbe27b6c82c3f7fff8e7cc9/lib/elixir/lib/module.ex.

[2016-03-19 14:16] whatyouhide opened #310 "Heredoc indents incorrectly when it's the first thing in a do...end block"
Heredocs delimited with `"""` are indented incorrectly when they're the first thing inside a `do ... end` block (they're indented on the same level as the line that starts the `do`).

Current behaviour:

[code]

Expected behaviour:

[code]

[2016-03-19 15:37] rvirding commented on #308
I had no problem with the article I just want to point out that it does show some of the problems you get when changing the tab size. Try looking under where it said

And here for the other poor bastards:

    sub SmileyReplace {
    ________foreach my $regexp (keys %Smilies) {
    ________________if (m/\G($regexp)/cg) {
    ________________________return $q->img({-src=>$Smilies{$regexp}, -alt=>$1

[2016-03-23 19:24] pmontrasio opened #311 "Wrong indentation after a one line fn"
The first snippet is indented correctly with the ```fn``` in the ```Enum.reduce``` split on three lines.
The line after the ```Enum.reduce``` in the second snippet is not indented.

![indentation](https://cloud.githubusercontent.com/assets/47483/13997809/22f79674-f134-11e5-9303-47ec0a14682f.png)

This is the code to copy and paste to test it

[code]

Just in case anybody notices and thinks there i

[2016-03-23 19:53] AstonJ opened #312 "String interpolation"
Hi, I am currently working on an Elixir theme, however, I can't seem to target string interpolation. I've tried both of the following in my theme but none of them work:

[code]

I've also used `what-cursor-position` (`C-u C-x` or `SPC u CTRL x =` in Spacemacs) but all I seem to get back is that it's just a normal variable.

Here's a screen grab - the theme (interpolation) should look like it does

[2016-03-24 01:17] syohex commented on #312
elixir-mode uses `font-lock-variable-name-face` for string interpolation. And there are no `font-lock-string-interpolation-face` and `font-lock-interpolation-face`. You can check face at cursor by `M-: (face-at-point)`.

[2016-03-24 03:45] AstonJ commented on #312
Hi @syohex, thanks for getting back to me.

Are there any plans to change it so it handles interpolation like the TextMate plug-ins do? (Which seems to be the same way the Ruby TM plugin does - as per the the screen grab at line 16).

No probs if not.

(Btw do you know how I can do `M-:` in Spacemacs please?)

[2016-03-24 05:04] gausby commented on #312
@AstonJ `M-:` executes `eval-expression`. You can see the current keybinding by using the emacs help system called apropos, type `M-x apropos RET eval-expression`.

[2016-03-24 09:28] tonini commented on #311
@pmontrasio Thanks for the issue report, it's fixed with #313

[2016-03-24 09:33] #311 closed

[2016-03-24 09:49] syohex commented on #309
How about following patch ?

[code]

Screenshot is here.

![triple-single-quote-sigil](https://cloud.githubusercontent.com/assets/554281/14013621/d3882898-f1f0-11e5-8959-440451ab6f30.png)

[2016-03-24 09:50] tonini commented on #309
@syohex yes, this should make it. Could you open a PR for this one? :+1:

[2016-03-24 09:51] tonini commented on #308
I'll close this issue for now because I think it has nothing directly to do with the `elixir-mode`. It's more a basic emacs setup thing.

[2016-03-24 09:52] syohex commented on #309
I have sent PR #314.

[2016-03-24 09:54] rvirding commented on #308
I don't agree as the elixir-mode explicitly uses setting tab stops. And I don't think it should, just because it makes things difficult for others.

[2016-03-24 09:57] tonini commented on #309
It's fixed thanks to @syohex :yellow_heart:

Thanks @lexmag for the report :blue_heart:

[2016-03-24 09:57] #309 closed

[2016-03-24 09:59] lexmag commented on #309
@syohex, @tonini thanks. :clap:

[2016-03-24 10:10] #304 closed

[2016-03-24 10:14] #288 closed

[2016-04-03 10:22] #243 closed

[2016-04-04 21:57] gausby opened #319 "`cond` blocks inside `with/1` seems to indent to wrong level"
I would assume that a `cond`-block should be indended by one level when used within a `with/1`, but it seems to be on the same line as the content on the left side of the arrow.

Expected:
[code]

Current:
[code]

I can provide a failing unit test if others agree that my expected indentation in fact should be the expected indentation.

[2016-04-06 13:35] whatyouhide opened #320 ":: in binaries trigger atom highlighting"
Code like `<<foo::bar>>` highlights `foo:` as an atom, but it shouldn't.

[2016-04-06 13:45] tonini commented on #320
@syohex could you please have a look at this? :heart_eyes:

[2016-04-06 14:19] syohex commented on #320
I have send PR #321. Please check it.

[2016-04-06 20:14] unbalancedparentheses commented on #274
I am having the same issue. The arrow breaks the indention.

[2016-04-08 10:49] whatyouhide commented on #320
Closing this as it has been solved in #321.

[2016-04-08 10:49] #320 closed

[2016-04-12 15:40] utkarshkukreti opened #323 "Calling a function named `for` in `case` or `if` messes up indentation of body"
I have a function named `for` in a module and calling it in `case` or `if` from another module is messing up the indentation of the whole body.

Input / Expected indentation:

[code]

Actual, after selecting all text and calling `indent-region`:

[code]

[code]

[2016-04-12 16:41] gausby commented on #323
I've added some failing tests. I've split them up in a if-test and a case-test.

[2016-04-12 19:23] #323 closed

[2016-04-12 19:27] tonini commented on #323
@utkarshkukreti Thanks for the report. The issue is fixed.

You need to wait until melpa.org build the new `elixir-mode` package from master before you install it.

[2016-04-12 19:27] #312 closed

[2016-04-13 02:50] utkarshkukreti commented on #323
@tonini Thank you! I can confirm this is fixed in `Elixir-Mode version: 2.2.9 (package: 20160412.1223)`.

[2016-04-13 06:34] #274 closed

[2016-04-13 07:02] tonini commented on #308
Hi @rvirding

I'll remove the `tab-width` setting we make in the `elixir-mode`.

Thanks for the report and the patience.

[2016-04-13 07:05] tonini commented on #308
@rvirding

https://github.com/elixir-lang/emacs-elixir/commit/981f11d9ff45d1dbad0bd4d9c73330397ce9c58f

[2016-04-13 08:00] #308 closed

[2016-04-13 08:35] rvirding commented on #308
Thanks. It still works I hope. :-)

[2016-04-13 08:35] tonini commented on #308
haha yes it does. ;-)

[2016-04-13 08:35] rvirding commented on #308
Then I'm happy.

[2016-04-13 11:05] whatyouhide opened #328 "Misindentation of tuples inside the "else" part of an "if" expression"
Tuples in the `else` part of an `if` expression are misindented as they're indented on the same level as the `else` keyword instead of one level more.

Current behaviour:

[code]

Expected behaviour:

[code]

[2016-04-13 11:08] utkarshkukreti commented on #328
This indents fine for me in `Elixir-Mode version: 2.2.9 (package: 20160413.7)`.

[2016-04-13 11:10] whatyouhide commented on #328
I just pulled `master` and it's not working for me :confused:, I'll investigate further. If someone is able to reproduce this let us know :)

[2016-04-13 11:15] gausby commented on #328
I just pulled master and I can confirm that this is the current behaviour:
[code]

[2016-04-13 11:17] tonini commented on #328
It's fixed on master https://github.com/elixir-lang/emacs-elixir/commit/230b0dc9a7c9d95785ced03cbc99cb5509a84aff

Thanks for the report @whatyouhide :+1:

[2016-04-13 11:17] #328 closed

[2016-04-13 11:20] whatyouhide commented on #328
Awesome @tonini, thanks so much :heart_decoration:

[2016-04-13 21:18] tonini commented on #229
I got the whole thing working on a local branch and will push as soon as possible.

![](http://i.imgur.com/Y9UFGF9.gif)

/cc @gausby

[2016-04-13 21:19] whatyouhide commented on #229
This is absolutely glorious :muscle:

[2016-04-13 22:00] gausby commented on #229
I don't know if it is the wine from the Goto-conference-launch-party that is speaking, but I freaking love this!

[2016-04-14 07:25] tonini commented on #237
I'll close this issue because like @lexmag I think it's the indentation as it works at the moment is not wrong.

Thanks

[2016-04-14 07:25] #237 closed

[2016-04-14 07:32] tonini commented on #229
fixed by https://github.com/elixir-lang/emacs-elixir/commit/f721fb45e6860073c93840e502b9c6a56db42ab2

[2016-04-14 07:33] #229 closed

[2016-04-14 08:12] #242 closed

[2016-04-14 08:13] tonini commented on #242
fixed by f721fb4

[2016-04-14 08:20] utkarshkukreti opened #330 "Indentation messed up when defining a function named `for`"
Expected:

[code]

Actual:

[code]

Version: 83ff8fe176814d5bc1f707582cf42a470a255c89

[2016-04-14 08:22] utkarshkukreti opened #331 "Indentation off by 1 in tuples inside lists"
Expected:

[code]

Actual:

[code]

Version: 83ff8fe176814d5bc1f707582cf42a470a255c89

[2016-04-14 08:47] #330 closed

[2016-04-14 18:30] #331 closed

[2016-04-15 06:42] manukall commented on #229
:heart_eyes: works great. thanks!

[2016-04-15 08:28] utkarshkukreti commented on #237
@tonini @lexmag 4 space indent seems to be used much more often than 0 space in Elixir Repo:

[code]

and 0 space is not used at all in Phoenix and Ecto:

[code]

(I know this regex is not 100% accurate and this does not include cases where the when condition is split over multiple lines.)

I think elixir-mode should default to 4 spaces.

[2016-04-15 10:02] gausby commented on #237
I think that it is important to remember that just because Elixir core seems to favour a specific style it is by no means a hint of the current best practice followed by the Elixir core group; if such a best practice has been agreed upon at all.

Also, the results lack time. Could it be that the results that shows A was made in old commits and the B option is more prominent in later commits?

Pers

[2016-04-15 10:38] utkarshkukreti commented on #237
In the additions from 1.0 to HEAD to .ex files:

[code]

And from 1.2.0 to HEAD:

[code]

[2016-04-15 10:44] whatyouhide commented on #237
I slightly lean towards indenting the `when` with 4 spaces. My reasoning is that it aids readability (**for me** of course) because it separates the guard clauses from the body of the function in a more clear way; also, not indenting the *when* makes the function more cumbersome in my opinion, the code becomes a dense block and it's hard for me to separate the function head from the body. There ar

[2016-04-19 06:53] manukall opened #336 "Module attributes with a comma break indentation for the rest of the file (sometimes)"
The following code breaks the indentation for the rest of the file:

[code]

If I remove the `import Enum` line or the line-break after the comma, everything is fine.

Please let me know if I can help narrow this down further. I'm using spacemacs and everything is up to date, if that's relevant.

[2016-04-19 07:26] utkarshkukreti commented on #336
For me, even the `@att` line is indented wrong:

Expected:

[code]

Actual:

[code]

[2016-04-19 07:27] utkarshkukreti commented on #336
If I add a new line after `import Enum`, it works fine:

Expected and Actual:

[code]

[2016-04-19 08:09] #336 closed

[2016-04-19 08:09] tonini commented on #336
Thanks for the report guys 👍

It's fixed on https://github.com/elixir-lang/emacs-elixir/commit/fc202762fd4e23ad1b5596b2a49fdce0cf6e3c23, just wait until melpa.org build the latest alchemist package from master before `package-install`usage.

[2016-04-20 08:31] #254 closed

[2016-04-21 05:53] #310 closed

[2016-04-21 05:54] tonini commented on #310
Thanks @whatyouhide for the report, sorry it took so long. 💚 💛 💙 ❤️

[2016-04-21 06:05] tonini commented on #185
Hey @syohex

Do you think you could have a look at this issue if you get some time?

Thanks

[2016-04-21 07:26] whatyouhide commented on #310
@tonini great job Samuel, never apologize for this stuff :)

[2016-04-21 08:03] tonini commented on #185
Fixed by https://github.com/elixir-lang/emacs-elixir/pull/340

[2016-04-21 08:03] #185 closed

[2016-04-21 08:23] whatyouhide opened #341 ""TODO:" comments appear to confuse indentation"
This is *extremely* weird 😄, and I have no idea if it happens specifically because of `elixir-mode`, but when I autoindent this:

[code]

it actually gets indented as:

[code]

I was able to reproduce this by launching Emacs with `emacs -Q` and then running:

[code]

I'm sorry in advance `elixir-mode` ends up not being the cause for this, but as far as my Emacs fu goes it appears so 😕

[2016-04-21 08:37] tonini commented on #341
I'm on it :-)

[2016-04-21 11:45] #341 closed

[2016-04-21 12:09] gausby opened #344 "Specs indentation of return value when splitting on multiple lines"
Currently:
[code]

Expected:
[code]

[2016-04-21 12:12] #290 closed

[2016-04-21 14:11] gausby commented on #255
I haven't seen this form of indentation in the wild. I think the arrow should be on the same line as the match like so:
[code]
These indentations are supported by the currently, and are in my opinion the most readable.

[2016-04-21 14:19] whatyouhide commented on #255
[code]

is something I never witnessed in any of the Elixir projects I worked on. I'm personally strongly 👎 on introducing another style for this, and hence I think we shouldn't bother supporting this in `elixir-mode` :)

[2016-04-21 14:26] gausby commented on #255
Let me elaborate on my previous statement about being «more readable». I would probably question the intent if a saw a hanging arrow like that. Does the line belong to the block above, or is it the actual match?

That train of thought is eliminated if the match is on the same line as the arrow. I think this is a case that should be grabbed by tools like Credo, if it doesn't already.

[2016-04-21 19:08] tonini commented on #255
I agree with the opinions of @gausby and @whatyouhide

Thanks @beedub for the feedback.

I'll close this issue for now.

[2016-04-21 19:08] #255 closed

[2016-04-21 19:14] beedub commented on #255
The example I had in the original is actually misleading. I haven't scripted in elixir in a bit, but here's what I think I meant (and just tested):

[code]

Tabbing on the final line with an underscore leaves it indented it even though it shouldn't be indented (right?). However, adding the `->` after the `_` fixes the indentation:

[code]

This behavior seems to be specific to `_` as `{}` is prope

[2016-04-21 20:12] tonini commented on #255
hey @beedub

Thanks for the detailed explanation.
It's fixed on master now, you just need to wait until melpa.org build the latest emacs-elixir package from master.

[2016-04-21 21:25] whatyouhide commented on #255
I think clauses without `->` should be indented one level more than clauses with `->` in them.

[code]

is valid Elixir and the `{:error, reason}` clause will execute both `IO.inspect(reason)` as well as return `:error`; i.e., the code above is equivalent to:

[code]

[2016-04-23 20:08] lexmag opened #346 "Anonymous function inside pipeline breaks indentation"
Current:
[code]
Expected:
[code]
Version: `20160421.1312`

[2016-04-24 15:21] aaronjensen opened #347 "?{ ?[ ?( bracket characters break indentation"
Example:

[code]

They also break paren matching, but i'm not sure which mode is doing that and if the problem is with elixir-mode

![bracket_push exs 2016-04-24 08-20-37](https://cloud.githubusercontent.com/assets/8588/14768378/7dff7fa8-09f5-11e6-8546-b7e5dfbdf8dc.png)

[2016-04-25 12:58] tonini commented on #347
Thanks @aaronjensen I'll have a look at this.

[2016-04-27 09:24] gausby opened #349 "Indentation of `with/1` with keywords"
There are some efforts to make indentation of `with/1` with keywords better in elixir-mode. Indentation is a question of personal preferences, but it would be good to know the myriad of ways one could indent a `with/1` in Elixir. Please use the following example to discuss indentation of the following example:
[code]
Copy and paste the example and reply to this issue with your thinking on how to i

[2016-04-27 09:31] gausby commented on #349
[code]

[2016-04-27 09:53] whatyouhide commented on #349
Gave my answer in https://github.com/elixir-lang/emacs-elixir/pull/348.

[code]

Also got a couple of thumbs up there, I'll mention them here as well 😃

[2016-04-27 10:01] gausby commented on #349
@whatyouhide yeah, that is what I call *B*.

Your fine argumentation was that the `do:` (and `else:`) part stand out from the patterns, so they are easier to spot and (perhaps more importantly) not confuse with the patterns when reading the code—if I am paraphrasing correctly…

[2016-04-27 10:04] whatyouhide commented on #349
@gausby yep, they separate patterns vs actions and after all it's the indentation that the Elixir documentation uses, so I'm strongly in favour of it.

[2016-04-27 13:38] tonini commented on #349
Thanks a lot for this issue :)

What's the opinion about `with` used with parentheses? How should the identation behave in that case? Like a normal function call with a one level indentation on the next line until the end of the function call?

[2016-04-27 13:42] whatyouhide commented on #349
@tonini I don't think `with()` is very common. People may be more inclined to do `(with ...)` if they want to wrap the expression in parens.

[2016-04-27 15:57] aaronjensen commented on #349
Personally, I'm inclined towards A, but that's because I prefer the simplicity of always indenting the same (2 spaces) for everything everywhere, except for maybe in lisp languages, where I'm tending towards stockholm syndrome for the wild indentation rules that emacs applies.

[2016-04-27 16:29] whatyouhide opened #351 "Wrong indentation with tuples in "case" statements"
This is how tuples are indented in a `case` statement if they're the **second** (as far as I can see) expression in a clause of the `case`:

[code]

A bunch of more examples to give better context to the issue:

[code]

[2016-04-27 17:46] gausby commented on #349
@tonini I usually do all my `with/1`'s with parentheses like so;
[code]
But I guess I will switch to something else when we can do do-blocks in the upcoming version of Elixir, and I guess I will prefer A when that is landed…because I already do stuff with weird indentation in function definitions, if I match on something like a map:
[code]
…perhaps a contrived example, but I actually like it ^_^

[2016-04-28 08:19] #351 closed

[2016-04-28 08:19] #349 closed

[2016-04-28 08:32] whatyouhide commented on #347
I was about to open the same issue 😛

[2016-05-06 20:02] whatyouhide opened #352 "Faces that look off with some themes"
I'm _really_ no expert when it comes to Emacs themes, faces, and the such, so all this may make no sense, and I apologize in advance if it doesn't 😺 There are a bunch of elements that emacs-elixir highlights in the same way across all Emacs themes (at least this is my impression). One example is `:atoms`, and another one is `@module_attributes`: for example, the two screenshots above show an atom

[2016-05-06 20:03] whatyouhide commented on #344
👍 on this style, this is definitely what the majority of the Elixir code I dealt with (and I wrote) uses. I think this issue could use the "Indentation" label as well.

[2016-05-06 20:11] gausby commented on #352
I think this is the reason:
[code]
Seems to be hardcoded to light sky blue. Nice catch!

[2016-05-06 21:27] gausby commented on #352
I've been looking a bit into this, and I think it is something the individual themes are supposed to overwrite. We define the following font-face variables (and we define defaults):

  * `elixir-operator-face`
  * `elixir-negation-face`
  * `elixir-attribute-face`
  * `elixir-atom-face`
  * `elixir-ignored-var-face`

The rest of the color definitions use variables defined in "font-lock", such as `

[2016-05-08 11:57] gausby commented on #344
I've added failing tests to this one.

[2016-05-08 18:14] gausby commented on #352
I think that it is safe to close this one. The colours define defaults for bright and dark themes (as far as I can see); from there the individual theme should overwrite to their needs.

I just updated the theme that I use: https://github.com/cpaulik/emacs-material-theme/pull/32/files

[2016-05-08 18:39] whatyouhide commented on #352
@gausby I don't think I agree on closing this issue. Maybe the themes should override these faces, but couldn't elixir-mode use only built-in faces so that we get all nice colors for free? Also, solarized and zenburn are two of the most used emacs themes (if not *the* two), I think it's only fair if we make the effort to adapt to them instead of the other way around 😃

[2016-05-08 18:46] gausby commented on #352
@whatyouhide I get what you are saying, but I don't think the current state of how we do themes in Emacs are perfect, that is why themes, such as zenburn and solarized, have to cater for special modes, such as elixir-mode, magit, gnus, etc.

We can change the variables to something defined by font-lock but only if there are something usable defined in font-lock.

[2016-05-08 18:48] whatyouhide commented on #352
Yeah, but I don't think magit/gnus or similar are comparable to elixir-mode; magit is something most Emacs users install, while elixir-mode is something only Elixir programmers use.

[2016-05-08 18:55] gausby commented on #352
The same could be said for coffee-script mode, but alas themes has to deal with it. I just started looking into themes more because of this issue, and believe me, I am as upset about this as you are :)

[2016-05-08 19:11] whatyouhide commented on #352
Yeah, I saw the coffee support as well. I still hold my point, they should delete coffee support and coffee-mode should handle that IMO 😄

[2016-05-09 09:14] gausby commented on #352
This page list the various faces defined in font-lock: https://www.gnu.org/software/emacs/manual/html_node/elisp/Faces-for-Font-Lock.html

As a reminder, we define the following:

  * elixir-operator-face
  * elixir-negation-face
  * elixir-attribute-face
  * elixir-atom-face
  * elixir-ignored-var-face

I have a pr #354 that will remove the `elixir-operator-face` because it doesn't seem to be use

[2016-05-09 09:20] whatyouhide commented on #352
I'm not sure and I think @tonini would know better here, but for example, "ignored-var" could be the same face as comments?

[2016-05-10 17:40] pdilyard opened #355 "Highlight @doc as comment"
Things look a lot cleaner if you highlight the following blocks as if they were comments:

[code]

[code]

Most other Elixir syntax highlighters handle things this way (including the Github one, as shown above). It tends to make things look a bit cleaner in larger modules.

If people agree, I could try to work on a PR for this.

[2016-05-10 20:41] whatyouhide commented on #355
I would have to use this for a while to be able to tell for sure if I like it or not, but I think I like the idea. 👍

[2016-05-12 06:27] tonini commented on #355
@pdilyard @whatyouhide I'll make a PR so you guys could work with this variate for a bit.

[2016-05-13 15:07] pdilyard commented on #355
@tonini thanks, I'd appreciate that!

[2016-05-13 15:55] andreas-roehler commented on #355
Hmm, at Python we have a docstring face for that. As comments and strings are syntactically different, should they get the same face?

[2016-05-16 17:46] pdilyard opened #356 "Incorrect indentation when maps are passed as parameters"
When typing a map as a parameter to a function, this is the indentation I get:
[code]
I would expect something more like this:
[code]

I get something similar, though not as bad, with lists:
[code]
I would expect this (although I know this one is a little more opinionated):
[code]

[2016-05-16 19:06] gausby commented on #355
We could use `font-lock-doc-face` for fontification of `@doc`- and `@moduledoc` strings. I think that would make sense.

From [the Gnu/Emacs page on font lock faces](https://www.gnu.org/software/emacs/manual/html_node/elisp/Faces-for-Font-Lock.html)

I think it is fitting. Some themes might not implement a specific color for this face, and it will fallback to the string face (as it is now), but th

[2016-05-16 19:10] whatyouhide commented on #355
@gausby awesome catch, I say #justdoit with a PR 😃

[2016-05-16 19:38] gausby commented on #355
@whatyouhide I would love to know how to do it, but it would require me to be able to distinct between multiline strings and actual docstrings so I can apply the font face to them. Perhaps I should pair with Tonini on this at some point.

[2016-05-18 16:30] pdilyard commented on #355
Another possibility to consider here would be using markdown indentation rules within docstrings, so you wouldn't have to enter visual mode to manually move code blocks to the correct level.

[2016-05-18 16:49] gausby commented on #355
I think that would be hard to implement; essentially it would require us to redo the stuff markdown mode does. It would probably be better to have a mode like mmm-mode (multi-major-mode) handle this, but the individual would have to set this up for themselves—an article on how to do this would be nice.

[2016-05-19 01:06] danielberkompas opened #359 "Maps with string keys don't indent properly"
Operating System: El Capitan
Emacs: 24.5.1
elixir-mode: 2.3.1 (20160511.2327)

When I try to type a map with string keys, like so:

[code]

I get this indentation:

[code]

However, it works properly when the keys are atoms:

[code]

[2016-05-23 10:00] gausby commented on #359
I've added a failing unit test for this scenario.

[2016-05-27 10:22] whatyouhide opened #361 "_variables are highlighted if in a match"
Ignored variables (such as `_this`) are not highlighted like ignored variables if they're the left-hand side of a `=` match:

<img width="145" alt="screen shot 2016-05-27 at 12 19 09" src="https://cloud.githubusercontent.com/assets/3890250/15605281/3be5ebaa-2405-11e6-8ef2-586c3e704d0a.png">

<img width="62" alt="screen shot 2016-05-27 at 12 20 13" src="https://cloud.githubusercontent.com/assets/38

[2016-05-29 17:02] gausby commented on #352
Okay, so we have negation and ignored var taken care of, what should we do to bring this issue forward?

The remaining faces are these:

  * elixir-operator-face
  * elixir-attribute-face
  * elixir-atom-face

ping @tonini

[2016-05-30 12:01] mydearxym opened #362 "smartparents setup error"
amazing work

a warning occurs in  elixir-mode setup:

[code]

[2016-05-30 12:12] tonini commented on #362
Hi,

This has obviously nothing to do with the `elixir-mode`. You need to have a look at the spacemacs/elixir layer. It looks like `sp-with-modes` is called before the `smartparens` package is loaded like they fixed already for the ruby layer here -> https://github.com/syl20bnr/spacemacs/pull/4132

Thanks

[2016-05-30 12:43] mydearxym commented on #362
thanks  @tonini
i  simply comment the `smartparens` staff and use snippets instead

[2016-05-30 12:43] #362 closed

[2016-06-04 15:43] aaronjensen opened #363 "Strange hang after RET after do"
If you type a `do`, then press return, you get a weird hang. You can see a mark at the beginning of the line for a second or two. If you type, it inserts text, so it is not really hung, but it is visually jarring.

It appears to repro with just `elixir-mode` on `emacs -Q`

![hang](https://cloud.githubusercontent.com/assets/8588/15800500/608e5d62-2a30-11e6-9d00-2e0eb0af7b82.gif)

[2016-06-04 22:09] TheGreenHabi commented on #363
I have same issue. It hangs for half a second

[2016-06-05 07:51] tonini commented on #363
Thanks @aaronjensen I'll have a look at this one.

[2016-06-05 11:04] gausby commented on #363
I can't reproduce.

@aaronjensen do you use spacemacs? Could you try to disable `ruby-end`—which sadly is included in the Elixir "layer"—and see if that solves the problem?

[2016-06-05 16:10] aaronjensen commented on #363
Yes, but not when i'm running `emacs -Q`

I'm on `develop` which uses `smartparens` instead. Even with `smartparens` disabled, this repros, and as I said, it reproduces on `emacs -Q`. I'm also on emacs 25, maybe this is a 25 issue?

[2016-06-05 16:19] TheGreenHabi commented on #363
@aaronjensen @gausby I use spacemacs latest dev + latest packages (Win 10, emacs-w64 24.5.1)
So it's not an emacs 25 issue.
Strange thing is I actually installed ruby-end to have `end` inserted automatically before I press return. Ofcourse in pair with elixir-lang functionality it creates double `end`. But what interesting is this way it does not hang.
[code]

[2016-06-05 18:23] gausby commented on #363
I managed to reproduce this on OS X, running a clean Emacs 25.0.94.1, build with cocoa and all the bells and whistles. @TheGreenHabi seemed to reproduce it on Windows so it is not an OS issue.

To reproduce:

(1) open Emacs with no config file, `emacs -Q` from the terminal. (2) Insert the following in the scratch buffer and `eval-buffer`:
[code]
You might have to change the paths for your system.

[2016-06-05 18:28] gausby commented on #363
@TheGreenHabi I would recommend that you find an alternative way to auto insert `end`. `ruby-end` might work fine for Ruby, but the rules for do-blocks are different from Elixir, so you will end up correcting what it is doing most of the time. Personally I use some yasnippets where I have a “do”-snippet that expand do-end blocks.

[2016-06-05 18:31] TheGreenHabi commented on #363
@gausby Thank you for advice! I will try `yasnippets` instead of `ruby-end`

[2016-06-06 06:54] tonini commented on #363
Hi all,

Thanks for all the issue report and all the feedback.

I found the issue here https://github.com/elixir-lang/emacs-elixir/blob/master/elixir-smie.el#L315 in the call of `looking-back` and now try to figure it out why it hangs in this explained cases with `def...`.

I'll let you know if I have more to say about it, thanks for your patience guys.

[2016-06-06 11:04] gausby commented on #363
The delay goes away if `show-paren-mode` has been enabled in Elixir buffers.
[code]

[2016-06-06 11:22] tonini commented on #363
I found the issue why it happens. Its about the rules defined for def, defp
etc. When removed the delay is gone. And yes all tests passing too so these
rules could be removed and actually are doesnt needed because the rule for
do...end is important.

Martin Gausby <notifications@github.com> schrieb am Mo., 6. Juni 2016,
13:04:

[2016-06-06 14:28] gausby commented on #363
@tonini So, the same functionality with less code? Sounds like a bargain :)

[2016-06-07 07:59] #363 closed

[2016-06-15 02:19] wende opened #365 "Inconsistent indenation in for comprehensions"
When we indent the for comprehension, because of the comma we get one tab indentation
Like this:

[code]
When clearly the default indentation should align all the generators in one line, like this
[code]

[2016-06-15 08:45] whatyouhide commented on #365
Just to mention this, but there's no convention on where the `:do` (which *is not* a generator) should be indented at. Personally, I do this:

[code]

and I do the same with `with`. So definitely the indentation of the `<-` clauses can be fixed, but as for the `:do`, this requires some more discussion :)

[2016-06-15 15:33] gausby commented on #365
Thanks for raising the issue, @wende. I agree with @whatyouhide; I think that it should follow the example set by `with/1`, aligning the generators and indenting the `do:` one level.

I'll add some indentation unit tests later—I've also found an issue with `with/1` I would like to cover; it doesn't seem to align the statements correctly after two statements.

[2016-07-03 22:10] whatyouhide commented on #352
Ping @tonini, any comments on this one? :)

[2016-07-14 09:07] jasonm23 opened #366 "mark-defun marks defmodule instead of def"

[2016-07-14 09:31] whatyouhide opened #367 "Literal list arguments are indented incorrectly if they're not the first argument of a function call"
If a literal list is used as not the first argument in a function call, then its elements are indented incorrectly. They should be indented one level more than the function call, but they're indented **three** levels more. The closing `]` is indented incorrectly as well, **two** levels more than it should.

This is what happens:

[code]

The example above should instead indent as:

[code]

[2016-07-19 09:53] syohex commented on #366
#368 have been merged. Could you check latest version ? And report me if you have any issues.

[2016-07-29 09:15] mistnim opened #369 "~s{} strings are broken if there are one or more interpolation inside it"
For example with this: `~s{<tr class="#{class}"><td>#{value}</tr></td>\n} end`

[2016-07-30 23:34] jimm opened #370 "C-n and C-p do not preserve starting column"
When moving down/up lines with `C-n` and `C-p`, the starting column is not preserved. In other language modes, when you move vertically over a line that is shorter than your starting column, then to a line that is long again, the cursor goes back to the starting column.

If you start on the first line anywhere past the start of the line, then go down two lines via `C-n C-n`, you'll end up at the b

[2016-07-31 00:01] syohex commented on #370
I cannot reproduce this issue. Can you reproduce your issue by `emacs -Q -l /your_install_path/elixir-mode.el` ? Or did you enable `set-goal-column` ? If you enable `set-goal-column`, please disable it by `C-u M-x set-goal-column`.

NOTE elixir-mode does not configure `C-n` and `C-p`.

[2016-07-31 00:17] jimm commented on #370
Thank you for trying to reproduce this. You are correct: it doesn't happen when I start Emacs with an empty init file (I use Emacs for Mac OS X).

With my normal init `set-goal-column` is disabled, so I don't think that's it. When I visit any Elixir file the variable `goal-column` is nil. So that doesn't _seem_ to be the problem. Also the value of `line-mode-visual`, which can override `goal-colum

[2016-07-31 00:17] #370 closed

[2016-08-08 14:55] whatyouhide commented on #352
I'm gonna go ahead and ping @tonini again here, given I saw his "back from vacation" tweet earlier today 😛

[2016-09-16 11:44] 4ZM opened #372 "'end' insertion and indentation"
Writing this:
[code]
and pressing enter, it would be nice to get:
[code]
The same goes for def:
[code]
*enter*
[code]

[2016-09-16 13:41] gausby commented on #372
I suggest that you solve this using a system like yasnippets or other code completion tools.

This package should only be for indentation and syntax highlighting.

[2016-09-16 13:45] 4ZM commented on #372
Ok, thanks for the clarification

[2016-09-16 13:45] #372 closed

[2016-09-16 14:04] 4ZM commented on #372
For posterity: https://github.com/hisea/elixir-yasnippets

[2016-09-21 06:25] tonini commented on #369
@syohex If you get some free time could you have a look at this one? ❤️

[2016-09-21 06:26] #366 closed

[2016-09-21 06:28] tonini commented on #361
@syohex

Could you check this out? (I just ask because I know how good you are with these kind of syntax highlighting things 😏  )

[2016-09-21 06:29] tonini commented on #361
@whatyouhide I'm feeling you :) Maybe open up a separate issue and we start discuss about this? 😏

[2016-09-21 06:34] tonini commented on #347
@syohex I'm wondering if you have an idea what this could be about. Is there a proper way to prevent this behaviour?

[2016-09-21 06:36] tonini commented on #355
@gausby we should try your solution. 👍

[2016-09-21 08:07] whatyouhide commented on #361
@tonini yes of course, let's discuss that in a separate issue. :)

[2016-09-21 15:12] pdilyard commented on #355
Yes, an article on how to set it up would be very helpful

[2016-09-22 15:57] #361 closed

[2016-09-24 14:40] syohex commented on #369
I tried to fix this issue but I couldn't accomplish it. I need to understand much syntax highlighting.

[2016-09-28 13:41] andrewtimberlake opened #375 "Indentation of simple functions"
Expecting:

[code]

Get:
[code]

[2016-10-04 16:10] deadtrickster opened #376 "If indentation problem"
Atom:

[code]

Emacs:

[code]

Emacs version: GNU Emacs 25.0.94.1 (x86_64-pc-linux-gnu, GTK+ Version 3.18.9) of 2016-06-07
elixir-mode:       20160922.857

[2016-10-05 11:22] deadtrickster opened #377 "Ecto query indentation problem"
Expected:
[code]

Got:
[code]

Indentation is invalid as long as equal sign '=' is there.

Emacs version: GNU Emacs 25.0.94.1 (x86_64-pc-linux-gnu, GTK+ Version 3.18.9) of 2016-06-07
elixir-mode: 20160922.857

[2016-10-05 15:36] syohex commented on #347
I'll try to fix.

[2016-10-16 21:25] gaydenko opened #379 "invalid indentation"
HI!
By example: this region
[code]
becomes
[code]
on region indentation.

[2016-10-16 21:29] gaydenko opened #380 "Let's keep @doc content on indenting"
I guess it is more expected behavio**u**r to keep `@doc` content (and similar) intact on region/buffer indentation.

[2016-10-19 20:32] pdilyard commented on #355
Has anyone attempted this yet? I'd love to look at grey docstrings 😄

[2016-12-06 03:18] redjohn commented on #352
I noticed that when I use solarized in vim, atoms and strings are the same color, so maybe `font-lock-string-face`?

[2016-12-06 08:02] syohex commented on #352
atom is highlighted by `elixir-atom-face`. While string is highlighted by `font-lock-string-face`. If you look atom and string with same color, I suppose your `font-lock-string-face` and `elixir-atom-face` are similar colors.

BTW, you can check color face name by `M-: (face-at-point)`. And you can check color by `M-x list-faces-display`.

[2016-12-06 08:29] whatyouhide commented on #352
The problem with having custom faces is that many themes do not have colors for them though, right? If we used built-in faces, every theme would look good.

[2016-12-06 15:51] syohex commented on #352
Yes it is good if it is enough to use built-in faces for highlighting syntax. However Emacs does not have enough built-in faces for highlighting Elixir syntax.

[2016-12-13 06:40] muhifauzan commented on #352
@syohex I believe emacs already provide enough built-in faces. I end up use `font-lock-type-face` for `elixir-atom-face` and `font-lock-constant-face` for `elixir-attribute-face`. This looks nice as it make sense to use this built-in faces for the related custom faces.

[2016-12-13 07:56] syohex commented on #352
Those faces are already used for others.

[2016-12-13 08:07] redjohn commented on #352
I ended up using `font-lock-string-face` for `elixir-atom-face` and `font-lock-function-name-face` for `elixir-attribute-face`, as that matches the solarized theme in vim.

[2016-12-13 09:07] muhifauzan commented on #352
I use `font-lock-type-face` for `elixir-atom-face` because we use `font-lock-type-face` for `Module`. This is make sense since `Module` name is just an atom, inside. And `font-lock-constant-face` for `elixir-attribute-face` because module attribute works like constant in another languages. I can try to implement it if you want. How is it?

[2016-12-14 00:30] edmz commented on #355
@pdilyard I suck at elisp. Anyway, I tried using polymode to create a mode for only docstrings and then have a meta-mode that uses elixir-mode and this new mode at the same time. But then I ran into problems because font-lock-mode seems to come with default highlighting for strings and it took precenden over what I did. Anyway, I failed, just wanted to share the approach I tried.

[2016-12-14 18:10] edmz commented on #355
(I want to apologize first to those who do know elisp. Hopefully what I've found is helpful)

OK, I had some time and researched this a bit.

I looked at how python-mode achieves this.

Elixir mode sets the value of font-lock-defaults the simpler way. There is a more verbose way to set that variable that allows more customization.

[code]

Python sets this variable in a more complex way:

[code]

[2016-12-14 18:17] edmz commented on #355
@pdilyard hopefully what I found ^^ helps you

[2016-12-15 09:37] andreas-roehler opened #382 "Missing elixir-mode-string-to-quoted-on-current-line"
Several tests fail here saying:
(void-function elixir-mode-string-to-quoted-on-current-line)

[2016-12-15 09:46] andreas-roehler commented on #382
Seems this is a stale test-file in my repo, closing.

[2016-12-15 09:46] #382 closed

[2016-12-15 15:42] edmz commented on #355
@andreas-roehler man, I want to cry! 😆

[2016-12-15 16:06] pdilyard commented on #355
Woah! Thanks @edmz and @andreas-roehler

[2016-12-28 19:51] jmitchell opened #384 "over-indents in `else` block when function split over multiple lines"
The `do_something` function call should align vertically with the `:ignore_me` in the `if` block. When all the arguments are on the same line it works as expected, but for long function calls split over multiple lines it over-indents.

**Expected behavior:**

[code]

**Actual behavior:**

[code]

## Versions

os: Ubuntu 16.04.1
elixir-mode: 20161015.1200
emacs: GNU Emacs 25.1.1 (x86_64-unknown-lin

[2016-12-28 20:35] whatyouhide opened #385 "Indented "when" clause breaks indentation of the next function definition"
When I have a function definition that uses a `when` clause on the next line with this indentation (suggested by [this style guide](https://github.com/lexmag/elixir-style-guide#guard-clauses))::

[code]

then the indentation of the subsequent function definition is off:

[code]

Note that if I don't manually indent `bar/0` correctly, then all subsequent functions are indented at the same (wrong) l

[2016-12-28 20:44] whatyouhide opened #386 "Incorrect indentation of "if" when on the RHS of a pattern match with newline in it"
When some expressions comes as the right-hand side of a pattern match and it's on the line after the one with the `=` in it, their indentation is incorrect. Examples are `if` and `for`:

[code]

Note that this does not happen in other cases:

[code]

[2017-01-12 15:15] wpcarro commented on #386
This has been bothering me as well.

Potential fix: Perhaps this is simplistic, but would it be reliable to indent all subsequent lines that immediately follow the `=` operator until that expression is terminated, @whatyouhide? I can't think of a case right now where this wouldn't work...

Thanks for reporting this.

[2017-01-12 15:35] wpcarro commented on #355
Having difficulty getting this to work. When I run `elixir-mode-version` it seems to display the correct information:

[code]

However my `@doc` string still use the font-lock for comments. Does anyone know why this may be? I uninstalled `elixir-mode`, ran `package-refresh-content`, and reinstalled, but alas no positive results...

[2017-01-12 15:59] edmz commented on #355
@wpcarro did you update from package.el? You might try closing the file and opening it again. Or change mode to fundamental then back again to elixir mode.

[2017-01-12 16:16] wpcarro commented on #355
Just tried `M-x fundamental-mode` then `M-x elixir-mode`. No difference made. Repeated these steps after killing all Elixir buffers -- nothing. I've also restarted Emacs, without success.

How can I update from package.el? I may have already done so, but I'm unsure. Do you mind sharing your output from `M-x elixir-mode-version`?

[2017-01-12 16:23] mattdeboard commented on #355
You are running the latest tagged version which is 9 months old or so which
means you are installing the package from melpa-stable.

This repo has pretty much stopped relying on melpa-stable, and just using
melpa.

On Thu, Jan 12, 2017 at 10:16 AM, William Carroll <notifications@github.com>
wrote:

[2017-01-12 16:41] whatyouhide commented on #386
@wpcarro it sounds like a reasonable thing to do. Off the top of my head, I cannot think of something that comes after `=` and should not be indented if put on a newline. 🤔

[2017-01-12 17:36] wpcarro commented on #355
@mattdeboard switched to Melpa (nonstable). Uninstalled `elixir-mode` and reinstalled. Still nothing. Is there a way that I can ensure that it uses the most up-to-date `/master`?

[2017-01-15 15:58] Fuco1 opened #389 "Smartparens support for Elixir"
Hello friends!

I started working with Elixir recently so naturally I decided to cook up some Elixir support in SP.  I've noticed you have some info in your readme about how to configure it, so I figured you might want to update it.

I'm currently working on the support in this PR: https://github.com/Fuco1/smartparens/pull/695 feel free to get involved, I'm still an Elixir newbie.

You can provide

[2017-01-20 01:00] wpcarro commented on #386
@whatyouhide that's good to know. Me neither, and I've spent the past week keeping my eye out for these. Would be interested in hearing feedback from one of the maintainers. I'm in the process of adopting Emacs, so needless to say my Lisp knowledge is paltry otherwise I'd PR something.

[2017-01-20 01:10] mattdeboard commented on #386
@whatyouhide It's not simplistic. Maybe a function like [this one](https://github.com/elixir-lang/emacs-elixir/blob/master/elixir-smie.el#L195-L200) to return non-`nil` if a line ends with `=`. When that's the case, indentation level could be incremented.

[2017-01-20 01:13] mattdeboard commented on #386
To expand on that, you could change lines [479-480](https://github.com/elixir-lang/emacs-elixir/blob/master/elixir-smie.el#L479-L480) like so:

[code]

Alternatively you could refactor `elixir-smie-last-line-end-with-block-operator-p` to account for `->` or `=`. Though I suspect, but don't know, it would be useful to have them separate.

[2017-01-20 01:14] mattdeboard commented on #386
Now that I think about it actually, the reason you see it with `for` and `if` but not with e.g. `case` is because probably SMIE sees `case` and there's logic to indent if the line begins with that, or something.

Ugh

[2017-02-01 16:37] deadtrickster commented on #376
ping :-)

[2017-02-01 16:37] deadtrickster commented on #377
ping :-)

[2017-02-01 17:43] mattdeboard commented on #376
So `if` block indentation is broken across the board? Or what is different about this?

[2017-02-01 18:03] mattdeboard commented on #386
Maybe related to #376?

[2017-02-01 18:03] whatyouhide commented on #376
@mattdeboard the content of the `do` block of the `if` is indented one level less than it should.

[2017-02-01 18:05] mattdeboard commented on #376
Right, what I'm interested in is why this syntax specifically breaks indentation, but e.g.

[code]

doesn't. In other words, trying to find the "edges" of this problem.

[2017-02-01 18:07] mattdeboard commented on #377
#386 sees the same kind of dedent issue after an `=`

Can you tell me what happens with

[code]

and

[code]

?

Thanks

[2017-02-01 18:07] whatyouhide commented on #376
Actually I just tried to indent this on master and this is what I get:

[code]

which is correct as far as the `case` line goes. Then I am not a fan of the `end` placement and think it should be indented at the same level as `docs_url`, but that's another issue 😄

[2017-02-01 18:08] whatyouhide commented on #377
@mattdeboard those both work for me (are indented same as you pasted) on emacs-elixir master.

[2017-02-01 18:09] whatyouhide commented on #377
@mattdeboard but, just FYI, this

[code]

is still indented incorrectly. Thought I should make that clear 😄

[2017-02-01 18:14] mattdeboard commented on #377
And another question, what about

[code]

[2017-02-01 18:14] whatyouhide commented on #377
@mattdeboard it indents as

[code]

[2017-02-01 18:23] mattdeboard commented on #377
What in the hell :|

[2017-02-01 19:11] mattdeboard commented on #377
My "what in the hell" was directed @ eisenbug-ish nature of this

[2017-02-11 14:36] tarsius opened #390 "Please add a prefix to test-helper.el to avoid conflicts with 68 other packages"
There exist at least 69 packages that contain a file named `test-helper.el` that also provides the feature `test-helper`.

This leads to issues for users who have at least two of these packages installed.  It is unlikely that such a user would be able to run the tests of all of those packages.  If the primary test file of one of those packages does `(require 'test-helper)`, then it is undefined wh

[2017-02-11 16:50] tarsius commented on #390
I've been informed, that `ert-runner` automatically loads the `test-helper.el` file. So you should **not** rename that file. Instead please see [this issue](https://github.com/rejeep/ert-runner.el/issues/38), where I suggest that the `(provide 'test-helper)` should be dropped instead. Please accept my apologize for opening these issues prematurely.

[2017-02-12 03:30] mattdeboard commented on #390
No apologies necessary, it's a reasonable request to make w/o the context of knowing what `ert-runner` does.

[2017-02-12 06:11] kcdragon opened #391 "Defined function with `when` and without parenthesis produces incorrect indentation in body"
## Description

When I have a defined, multi-line function and a `when` with multiple operators without parenthesis, the function body is not indented properly.

## Example

Expected

[code]

Actual

[code]

Note: This does not happen when `x + 1` is wrapped in parenthesis

[code]

## Versions

OS: Mac OSX Sierra
Emacs Version: GNU Emacs 25.1.1
elixir-mode: 20170102.942

[2017-02-12 06:13] kcdragon commented on #391
I created a pull request with a failing test since this was recommended in the contributing guide. See #392

[2017-02-20 10:54] tarsius commented on #390
The maintainer of `ert-runner` agrees that it would be best to remove `(provide 'test-runner)`, and I would like to now encourage you to make that change. For some opinions on the matter please see rejeep/ert-runner.el#38.

Thanks for looking into this.

[2017-02-21 16:10] mattdeboard commented on #390
If you submit a PR removing that line I'll be glad to merge it.

[2017-03-29 04:46] goofansu opened #394 "Braces in ~s sigil make format incorrect"
![screenshot of google chrome 29-03-2017 12-46-10 pm](https://cloud.githubusercontent.com/assets/1143191/24438960/b45a7f2e-147d-11e7-884c-a1e1dc4c6b52.png)

[2017-04-14 04:21] jonathanclarke opened #396 "Indenting when creating ex_doc is broken"
Attempting to write an ex_doc method; elixir-mode prevents additional tabbing (3 tabs are required for code indentation example under 'Heading' )

@doc """
  This is a comment to describe the issue
  ## Heading
      iex> foo
      iex> foobar
      iex> foobara
"""

May be a dupe of #380

[2017-04-18 13:17] jonathanclarke commented on #396
I'm going to close this.  Been reading up on the coding standards.

Use two spaces per indentation level. No hard tabs as seen on https://github.com/christopheradams/elixir_style_guide#spaces-indentation

[2017-04-18 13:17] #396 closed

[2017-05-08 05:55] rdrey commented on #369
As a workaround I changed my sigil to use `[]` (`~s[<tr class="#{class}"><td>#{value}</tr></td>\n]`).

[2017-05-17 23:23] deadtrickster commented on #377
Can confirm, still indents like this:

[code]

[2017-06-25 00:46] Trevoke opened #397 "Inconsistent indentation in `with`"
I have this gem of indentation in my code right now (and yes, that's how emacs wants it indented):

[code]

[2017-06-29 06:16] ckhrysze commented on #389
I wanted smartparens to work with Elixir today, and eventually noticed that piggy backing on sp-ruby was no longer needed. I came here to see about updating the docs, and came across this issue. So first, thank you! Second, I'm happy to create a pull request modifying the README to point this addition to smartparens out, but as I had nothing to do with it, nor have I been involved with this projec

[2017-06-29 09:36] Fuco1 commented on #389
As a general rule when you open a PR on somebody's project they will get super excited.  It means people care about our work and that always feels good.  So go ahead!

[2017-07-27 11:29] ckruse opened #399 "Indention in blocks is broken"
When writing a quote block, indention is broken; for example this code

[code]

should be formatted as follows:

[code]

[2017-07-27 11:33] ckruse opened #400 "Allow indentation of multiline function arguments to indent to the first argument of the first line"
So that code like this

[code]

could also be indented like this:

[code]

[2017-07-27 11:40] ckruse commented on #399
Hu, this bug seems fixed in git version. Sorry!

[2017-07-27 11:40] #399 closed

[2017-07-27 11:43] ckruse opened #401 "Indentation of pipe operator is broken"
Indentation of the pipe operator is broken when the last line is indented. This code

[code]

should be indented as follows:

[code]

This works when the previous line is not indented:

[code]

[2017-07-29 11:28] deadtrickster opened #402 "Indentation of Maps"
[code]

I think nested maps could be indented like this (2 space indentation in my case):
[code]

[2017-08-01 09:54] pmontrasio commented on #397
I'm on Elixir mode 20170102.942 from melpa. I get the code indented like this

[code]

It's ok if I omit the `:` in the `do:`

[code]

but there should really be a `:` there.

[2017-08-13 10:25] whatyouhide commented on #386
Closing for inactivity and in favor of the formatters that are being developed which will take care of indentation.

[2017-08-13 10:25] #386 closed

[2017-08-13 10:25] whatyouhide commented on #385
Closing for inactivity and in favor of the formatters that are being developed which will take care of indentation.

[2017-08-13 10:25] #385 closed

[2017-08-13 10:25] whatyouhide commented on #367
Closing for inactivity and in favor of the formatters that are being developed which will take care of indentation.

[2017-08-13 10:25] #367 closed

[2017-08-13 10:25] whatyouhide commented on #352
Closing for inactivity.

[2017-08-13 10:25] #352 closed

[2017-08-17 00:00] tarsius commented on #390
Closing in favor of the pull request.
Please merge it. I created it at your request.

[2017-08-17 00:00] #390 closed

[2017-08-28 19:58] pdilyard commented on #355
I can confirm that my `elixir-mode` (which I'm using in spacemacs) is at version `20170102.942`, but this feature does not seem to be there (my docstrings are still yellow). Is it possible that this was just never a working change? Or am I still missing something?

[2017-08-28 21:26] pdilyard commented on #355
I take that back, it works, it just isn't customized by the theme I was using.

The following applies to spacemacs users (and may also apply to pure emacs users, but I can't guarantee that):

For anyone who is having problems, try executing `M-x configuration-layer/update-packages`.

If you place your cursor over the documentation and run `M-x describe-face`, you should see `font-lock-doc-face`.

[2017-08-28 21:26] #355 closed

[2017-10-02 00:59] kelvinst opened #405 "Use do...end as code block delimiters"
The current behaviour is considering only some keywords as block delimiters, like `defmodule...end` or `def...end`. I'm guessing this according to this behaviour in my delimiters highlighting:

<img width="555" alt="screenshot 2017-10-01 21 55 27" src="https://user-images.githubusercontent.com/2791965/31061053-4a9c09aa-a6f3-11e7-8de6-9c505bd760aa.png">

Well, the behaviour I was expecting is hight

[2017-10-02 01:00] kelvinst commented on #405
PS.: `fn...end` is also a block delimiter.

[2017-10-02 01:06] kelvinst commented on #405
PS2.: I don't really know if this should be an Issue here or in smartparens, but I had to open it somewhere.

[2017-10-02 01:30] kelvinst commented on #405
Nevermind what I said, updated my packages and it's pretty much working now. 😬

I say "pretty much" because I'm still having problems with `try do ... end` blocks. Are you aware of it?

[2017-10-04 09:11] ckruse commented on #401
Ok, what do we have to do to support bug fixing?

I'm sorry that I could not create pull requests, but I don't know anything about smie and the code of `elixir-smie.el` seems really complex to me; despite trying to get a clue I was not able to understand what's happening.

[2017-10-06 17:56] goofansu commented on #394
I tried recently, found this problem has been fixed.

[2017-10-06 17:56] #394 closed

[2017-10-20 09:50] Zeeker opened #407 "Use Elixirs new formatter?"
[Elixir will introduce an opinionated formatter in version 1.6.](https://hashrocket.com/blog/posts/format-your-elixir-code-now) I think it would be great to include it in this package.

Would that be possible?

[2017-11-13 07:06] anildigital commented on #407
@Zeeker you can use this package https://github.com/anildigital/mix-format.el

[2017-11-13 07:07] anildigital commented on #407
Can we start integrating work done here https://github.com/anildigital/mix-format.el in official Elixir mode? Any taker?

[2017-11-13 12:20] Trevoke commented on #407
I'm not aware of any modes or tools built-in to emacs that require external tools, other than the ones emacs has a reasonable expectation of finding, such as grep.

I like the idea of one format for all (as long as it's my format), but I like even more the idea of elixir-mode being part of vanilla emacs.

Since there's no obligation for anyone using emacs to actually have elixir installed on their

[2017-11-13 13:41] anildigital commented on #407
@Trevoke Absolutely agree. But let's also find out what was original motivation and goal behind `mix format` when @josevalim brought it in Elixir. If José meant that this should be turned on by default, I think we have to make it on by default. Else it should be turned off by default. Thanks.

[2017-11-13 13:48] josevalim commented on #407
In my opinion the best workflow is to run the formatter whenever you want the whole file or whatever is on the buffer to be formatted. If someone is using an earlier Elixir version, then you can abort by saying mix format is not available for that version.

[2017-11-13 13:57] Trevoke commented on #407
Okay, so:

1. An interactive function is available to run the formatter on the content of a buffer (maybe current buffer by default)
2. Failure situations:
  - Version of `mix` available does not have the command
  - `mix` is not available
  - given buffer does not exist (can probably let it fail)
  - given buffer is read-only (can probably let it fail)
3. Config:
  - path to Elixir 1.6's mix so w

[2017-11-13 13:58] Trevoke commented on #407
@anildigital While Jose's original motivation and goal are important, we have to accept the reality of "people will run emacs in a variety of settings, and we have to be emacs-centric when we devise solutions for emacs".

[2017-11-19 14:22] danieljaouen opened #408 "Incorrect indentation in try/rescue blocks."
For example:

[code]

The final `:error` should have the same indentation as the `IO.puts` statement.  However, elixir-mode indents it as follows:

[code]

Notice that the final `:error` is incorrectly indented.

[2018-01-06 04:02] jasongoodwin commented on #407
Ya there are things I don't like about the elixir 1.6 formatting tbh. Eg `with` puts `do` on the last clause.
But it would be nice if most of the indentation suggestions followed the elixir 1.6 standard in elixir mode.

[2018-01-19 06:03] anildigital commented on #407
Can we integrate https://github.com/anildigital/mix-format.el in official Elixir Mode for emacs now?

[2018-01-19 08:07] josevalim commented on #407
@anildigital yes, please do send a PR. Remember it needs to be opt-in since not everyone will be running on Elixir v1.6. Probably under some key binding by default.

[2018-01-27 01:55] jasongoodwin opened #409 "Doesn't Maintain Column When Navigating Up and Down through empty rows when show-paren-mode enabled"
UPDATE Feb2 2018

Disabling `show-paren-mode` corrects the behaviour so this is somehow caused by the intersection of show-paren-mode w/ elixir major mode.

Show paren mode is very useful and otherwise functions correctly in elixir major mode! Would be nice to be able to use this feature without it crippling the ability to edit files.

------

The editor will snap back to 0 column when navigating

[2018-01-29 21:59] gausby commented on #409
I cannot reproduce. I am currently on Emacs 25.3.1 running on macOS.

I suggest trying to upgrade your Emacs.

[2018-01-29 22:11] jasongoodwin commented on #409
Will do! I'll let you know. Thanks for looking.

On Jan 29, 2018 4:59 PM, "Martin Gausby" <notifications@github.com> wrote:

[2018-02-01 15:58] jasongoodwin commented on #409
I upgraded to Emacs 25.3.1 and still see the issue unfortunately. I'll try to figure out what's happening.

[2018-02-01 21:00] gausby commented on #409
Okay, I took a deeper look at your config and managed to reproduce the issue (I am now on Emacs 26.0.91).

If you disable `show-paren-mode` (M-x show-paren-mode) the problem will go away.

[2018-02-02 18:10] jasongoodwin commented on #409
sweet thanks. That's strange - I'll try to learn some more elisp and figure out what interaction causes that. Really appreciate you taking the time to look.

[2018-02-02 18:12] jasongoodwin commented on #409
Gonna keep this open and rename it to be more descriptive.
I would consider this a bug that you can't use show-paren-mode w/ elixir mode.

[2018-02-14 10:43] anildigital commented on #407
I have raised PR https://github.com/elixir-editors/emacs-elixir/pull/406 Looks like no activity in ths project /cc @tonini @mattdeboard @antifuchs

[2018-02-14 10:48] josevalim opened #410 "Looking for maintainers :)"
If you would like to help maintain this project, please let us know!

/cc @anildigital

[2018-02-14 12:29] Trevoke commented on #410
I can help with this. I'll need a little time to get up to speed with the codebase, of course. And since I eventually want to help maintain alchemist, too, might as well get started. Let me know what you'd want to know about me to help you decide.

[2018-02-14 22:38] josevalim commented on #410
@Trevoke You have been invited! :heart:

[2018-02-14 23:00] Trevoke commented on #410
Alright, I'm in! :)

[2018-02-14 23:01] Trevoke commented on #410
Let's maintain this.. Time to review some talks on maintaining both my sanity and the project's.

[2018-02-14 23:12] whatyouhide commented on #410
Thanks for stepping up and taking this responsibility @Trevoke, this is incredibly helpful for the health of our community. 💟 💟 💟 💟 💟

[2018-02-15 18:24] Trevoke commented on #410
@whatyouhide Thank you! I am glad to be able to help.

[2018-02-21 12:36] #410 closed

[2018-03-08 02:28] onelesd commented on #405
You could use [evil-matchit](https://github.com/redguardtoo/evil-matchit), which is more general purpose and useful. It handles `try do ... end` fine.

[2018-03-26 03:50] Trevoke commented on #389
Smartparens supports Elixir and this is indicated in the README. Closing this issue.

Thanks for bringing support of Elixir to smartparens!

[2018-03-26 03:50] #389 closed

[2018-05-04 12:54] Licenser opened #412 "highlight quoted atoms as atoms not strings"
quoted atoms are highlighted a strings at the moment that can lead to confusion:

[code]
should be highlighted the same

[2018-05-26 19:53] Trevoke opened #414 "Put git-snapshot back in build as soon as possible"
Blocked by https://github.com/cask/cask/issues/367

[2018-05-27 22:16] Trevoke commented on #407
Now that #406 is merged in, this is done.

[2018-05-27 22:16] #407 closed

[2018-05-28 14:36] Zeeker opened #415 "Format: .formatter.exs with import_deps results in errors"
*This issue is closely related to https://github.com/elixir-lang/elixir/issues/7327.*

# Current behaviour

Let's assume I'm in an umbrella project with a `.formatter.exs` file looking like this:

[code]

Now I'm working on a file in `apps/some_app/lib/my_cool_module.ex` and then execute `elixir-format`. This results in the following error:

[code]

The dependency is available in `dev` and include

[2018-06-03 01:15] JoeZ99 commented on #402
does any one understand this super weird indentation??

[2018-06-05 11:53] Trevoke commented on #415
@michaelvobrien opened a PR to the repo where the format code came from ( https://github.com/michaelvobrien/mix-format.el/commit/ecde90b8628986eb16557d362b415e09a5aac2b9 ) which goes in this direction too.

It seems like we may need to run through a few potential loops:

1. Go up until we find a .formatter.exs file, run from that directory if found
2. Go up until we find a mix.exs file, run from t

[2018-06-05 12:23] smaximov commented on #415
I like the idea. I'm not sure if step 1 is necessary though. Is it possible that a `.formatter.exs` file for a mix project is located not in the directory which also contains the `mix.exs` file for the project?

[2018-06-08 21:30] bokay commented on #415
@smaximov it is possible yes.
An umbrella project with `.formatter.exs` defined at the project directory, but with another `mix.exs` defined an the app. Whether that's correct is another question!

The formatter could then set an `import_deps` from a dependency that is only defined in the `mix.exs` that is in the app, leading to that current issue.

[code]

Note from https://hexdocs.pm/mix/Mix.Tas

[2018-06-09 13:06] Zeeker commented on #415
Usually in umbrella applications the sub-apps point to the `_build` folder in the project root. In fact they get created that way by mix.

So executing `mix format ` still would happen in the directory root.

[2018-06-09 14:53] smaximov commented on #415
I believe it should work only if the umbrella root has a `.formatter.exs` file with `:subdirectories` pointing to the umbrella  sub-applications (e.g. `[subdirectories: ["apps/*"]]`), which totally makes sense for umbrella projects, though it's not created by default (I missed this setting and found out about it only after I re-read the docs after reading your comment).

[2018-06-09 15:04] smaximov commented on #415
Disregard that, `mix new` generates correct `.formatter.exs` files for regular and umbrella projects. It's the Phoenix generator that doesn't generate `.formatter.exs` at the moment.

[2018-07-06 07:10] ZizhengTai opened #421 ".formatter.exs not used"
I'm having this weird problem where `elixir-format` doesn't respect the `.formatter.exs` file in my project's root directory when I follow the settings [here](https://github.com/elixir-editors/emacs-elixir#add-elixir-mode-hook-to-run-elixir-format-on-file-save).

How to reproduce:
1. `mix new` a project and change the generated `.formatter.exs` to be
[code]
which should not format anything. Assume

[2018-07-07 15:43] Trevoke commented on #421
Thanks for reporting this! It sure sounds like a bug. I'll investigate on the code side. Meanwhile, can you tell me what happens if you remove your hook for elixir format and just run the function without any additional configuration?

[2018-07-07 16:15] ZizhengTai commented on #421
Hi Trevor, the problem persists with plain `elixir-format`. By the way, I'm observing the exact same behavior with ElixirLS on VS Code.

[2018-08-11 01:34] xiongtx opened #423 "String face is used instead of doc face when doc is prefixed with sigil"
W/o sigil: `font-lock-doc-face`:

![image](https://user-images.githubusercontent.com/1624090/43986802-c81560c4-9ccb-11e8-814a-2867e1e3ae7a.png)

W/ sigil: `font-lock-string-face`:

![image](https://user-images.githubusercontent.com/1624090/43986812-dda7c0ee-9ccb-11e8-9c65-b5a44df26935.png)

[2018-08-14 12:40] victorolinasc commented on #414
The related issue seems fixed. I guess this can be tackled now.

[2018-09-02 12:09] dragan-ivanovic opened #424 "@typedoc not recognized"
Type comments starting with `@typedoc` are not recognized as doc-strings.  They are treated as ordinary strings, and therefore `elixir-mode-fill-doc-string` does not work for type documentation.

[2018-09-13 14:17] felideon commented on #352
@whatyouhide Can we reopen this? No one answered this question:
https://github.com/elixir-editors/emacs-elixir/issues/352#issuecomment-222371070

I have an old [color-theme](https://github.com/robotlolita/candy-chain/blob/master/color-theme-candy-chain.el) that works great in several modes without any theme overrides. My peeve right now with elixir-mode is with how atoms are colored (indistinguish

[2018-09-14 19:56] felideon opened #427 "Recommended elixir-format hook silently hides formatting errors"
**Issue:**
As per the README:

[code]

However, when the formatter throws an error due to bad syntax, the `before-save-hook` doesn't report anything and the file is silently saved.

**Software Versions:**
* Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
* GNU Emacs 26.1 (build 1, x86_64-apple-darwin14.5.0, NS appkit-1348.17 Version 10.10.5 (B

[2018-09-14 21:14] felideon commented on #427
So I checked to see how `dart-mode.el` handles this, and they seem to have adapted what `go-mode.el` does, which is actually customizable:

https://github.com/bradyt/dart-mode/blob/master/dart-mode.el#L1710-L1721

Note the warning in the docstring about using the echo area. Other pertinent code:

https://github.com/bradyt/dart-mode/blob/master/dart-mode.el#L1770-L1774
https://github.com/bradyt/dar

[2018-09-20 11:31] smaximov commented on #421
I believe `elixir-format` does use `.formatter.exs`. What you observe happens because `elixir-format--run-format` [passes](https://github.com/elixir-editors/emacs-elixir/blob/bfd09392a0253e4b96c642472e5d5b757a5254f8/elixir-format.el#L96) the current formatted buffer's filename (or the path to temporary copy, to be precise) to the `mix format` task as the additional inputs which are **merged** with

[2018-10-07 21:04] art-solopov commented on #405
I'm still having issues on functions that don't use `do ... end` syntax and instead use just the `do: (...)` expression.

[2018-11-07 20:34] Trevoke commented on #427
Thanks for doing all this investigative work!

I'm comfortable enough with the solution used by go-mode and dart-mode. Are you comfortable enough with elisp to submit a pull request with tests for this?

[2018-11-08 17:00] felideon commented on #427
@Trevoke Not necessarily but I could potentially cargo cult it and get it working. :)

Tests would probably go in `test/elixir-format-test.el`, correct?

[2018-11-08 17:14] Trevoke commented on #427
That would be correct :D

--

Aldric.
Sent from a mobile device.

On Thu, Nov 8, 2018, 11:00 Felipe Delgado <notifications@github.com wrote:

[2018-12-19 01:01] beta-phenylethylamine commented on #237
Is it possible to reopen this issue, seeing as it conflicts with how elixir-format formats the code?

[2018-12-20 01:59] beta-phenylethylamine opened #428 "elixir-format does not respect locals_without_parens in .formatter.exs"
With the following .formatter.exs and files, `mix format $file` respects `locals_without_parens`, whereas elixir-format does not

`.formatter.exs`
[code]

`lib/pea_bb/bbs/router.ex`
[code]

`lib/pea_bb/macro/route.ex`
[code]

(I doubt the last file is important, but I included it for completeness sake given that these files have no external dependencies other than the existence of the modules bein

[2018-12-20 02:20] beta-phenylethylamine commented on #428
it seems like this code is shit, I'm not quite used to macros yet, but regardless, the parenthesis shouldn't be happening

[2019-01-08 19:53] mogorman commented on #405
I am having the issue where end is not auto inserted for def, defp or defmodules, Also it is not matching the end, like it does with case and if blocks

[2019-02-26 13:53] EmilienMottet opened #429 "Why elixir-format use erl ? SyntaxError error with asdf"
When I run the command ```elixir-format```

emacs try to run
[code]

And so, I have an error with because is not the binary.
errror output :
[code]
/home/emilien/.asdf/shims/mix :
[code]

[2019-02-27 14:53] Trevoke commented on #429
Hi, that is strange. Consider recreating the shims? My asdf mix looks like this:

[code]

[2019-02-27 15:02] EmilienMottet commented on #429
Humm,
I recreate the shims, but I have the same result.
I don't understand why It's use bash instead of elixir shebang

[2019-02-27 15:07] Trevoke commented on #429
maybe upgrade asdf and the elixir plugin?

[2019-02-27 15:22] EmilienMottet commented on #429
I use the lastest master for asdf : cf6149f
and the same on elixir plugin : e6f3b15

[2019-02-27 18:57] axelson commented on #429
What OS are you on? Does you shim still look the same after you recreated it? It's odd to me that the second line is `# asdf-plugin: elixir 1.3.4` instead of `# asdf-plugin: elixir`

[2019-02-28 10:09] EmilienMottet commented on #429
I'm on gentoo,
I have the same result after reshim.
I manualy update the shim and work well.
But I don't undestand why I don't I have this shim

[2019-02-28 10:09] #429 closed

[2019-03-06 12:32] #409 closed

[2019-03-12 03:10] junjizhi opened #430 "Is there a way to auto alias a module defined in the project?"
If yes, that would be helpful, without typing alias all the time.

[2019-04-09 09:37] jeanparpaillon opened #431 "elixir-format fails with asdf version manager ?"
Hi,
I'm using emacs 26.1 with elixir-mode (20190319.1844, from ELPA).
My elixir env versioning is managed with asdf (https://github.com/asdf-vm/asdf).

asdf uses shell 'shims' to wrap right version version.

When running `elixir-format` without asdf (PATH does not include asdf shims), everything's fine.
When running `elixir-format` with asdf wrappers, I have the following error:

[code]

When runn

[2019-04-14 02:56] donileo opened #432 "Can't type [ while in iex using alchemist.."
As the title says when in iex via alchemist I cant type the key `[`. If in that buffer I disable elixir-mode now [ gets processed literally.

[2019-04-15 18:14] mattmatters commented on #431
Echoing that I also get this error.
So far my investigation has been that elixir is being run against the shim.

[2019-04-22 01:56] Trevoke commented on #359
Hopefully this is solved with #433. Please reopen if you still experience the issue.

[2019-04-22 01:56] #359 closed

[2019-04-24 08:42] gabrielelana commented on #431
@mbunkus correct, what follows is my temporary quick & dirty fix

[code]

Basically ignoring `elixir-path` and executing directly `mix`

@anildigital Why run `elixir mix format ...` in the first place? Especially when `mix` has been found with `executable-find` (aka it's supposed to be executable on its own)

[2019-04-27 14:03] dgutov commented on #385
I think it should be reopened.

[2019-04-28 00:00] dgutov commented on #363
With those rules reverted, `show-paren-mode` doesn't work for `def`, `defp`, etc. It highlights their `do` and `end` in red.

[2019-04-28 00:12] dgutov commented on #363
The problem is not fixed anyway: it still "hangs" after the "do"s for which SMIE rules remain. E.g. if I type `if expire do` and RET, it happens.

It happens because of a feature called `blink-matching-paren` (you can set this variable to nil, and the problem goes away; turning on `show-paren-mode` also helps because it disables it). There's still a bug in there somewhere, but it needs to be fixed

[2019-04-28 00:26] dgutov commented on #376
@whatyouhide Indeed, the reported problem seems to be already fixed.

[2019-04-28 00:28] dgutov commented on #386
I could look into it. We have this behavior "right" in ruby-mode.

[2019-04-28 01:21] dgutov commented on #377
This can be fixed like this:

[code]

(The case that this rule seems to be trying to handle (`user` on the same line as `=`) seems to be broken for other reasons.)

[2019-06-09 23:20] achempion opened #434 "Melpa stable is outdated"
I've noticed Melpa stable has the latest release made 3 years ago. Shall we make a new one?

[2019-06-11 00:27] tt67wq opened #435 "elixir format error (linux, elixir1.8)"
I installed elixir 1.8 by asdf, and mix in shims is
[code]
and when I do the function elixir-format, it gave an error
[code]
when I changed mix to
[code]
it works.

I saw the code, elixir-format is running ['elixir', 'mix', 'format', 'path'], so when mix is a shell script, it gave a syntax error, can we change elixir-format to ['mix', 'format', 'path']?

[2019-06-16 14:42] EmilienMottet opened #436 "[bug] syntax highlighting string interpolation"
I have a similar syntax error like the  #369

![screenshot](https://user-images.githubusercontent.com/15970369/59565369-0578d100-9053-11e9-98f9-acecc183fa86.png)

A string interpolation into a call of function into another string interpolation break syntax highlighting

[2019-06-19 04:17] victorolinasc commented on #415
Just to add to the discussion...

Another way to detect if we are in an umbrella is to run what exunit.el  [does](https://github.com/ananthakumaran/exunit.el/blob/master/exunit.el#L58-L74) (this is very elegant IMHO):

Code by @ananthakumaran

[code]

Of course that to use mix format properly we would need to "try" finding "apps" first and then, if not found, we would fall back to current project

[2019-06-22 09:39] gabrielelana commented on #435
Duplicate of #431

[2019-06-22 12:42] tt67wq commented on #435
thanks

[2019-07-01 05:37] jclosure opened #440 "with syntax causes problems with show-paren-mode"
`with` syntax confuses `show-paren-mode`.  Jarring visual artifact (large highlighted blocks of show-matching-paren face) when point is positioned in column 0, to the left of the `with` statement.

Config:
[code]

Elixir Code:
[code]

![image](https://user-images.githubusercontent.com/343099/60412547-8087ce80-9b9f-11e9-8609-604ee67381e3.png)

Is this an addressable bug in `elixir-mode` or `show-pa

[2019-08-31 22:25] #431 closed

[2019-08-31 22:25] #435 closed

[2019-10-08 21:36] J3RN opened #443 "IEx Mode?"
Hey friends! :wave: I, like many Elixir developers, spend a good deal of time in IEx and want a good Emacs mode to facilitate IEx fiddling.

I did a little digging, and discovered that emacs-elixir _had_ an IEx mode, but it was moved into Alchemist. Unfortunately, though, it appears that the Alchemist project has been dormant for over a year now with no new commits. This project, conversely, appea

[2019-10-09 01:53] Trevoke commented on #443
Hello! Connecting iex to lsp is something we'd love to do, we just haven't
dedicated time to it. If you were to contribute something like an inferior
mode that connects to the lsp server, that would be amazing :D

On Tue, Oct 8, 2019 at 5:36 PM Jonathan Arnett <notifications@github.com>
wrote:

[2019-10-09 01:57] axelson commented on #443
@Trevoke Hmmm, I thought that emacs-elixir doesn't depend on lsp? Am I misunderstanding something?

[2019-10-09 02:03] Trevoke commented on #443
Ohhhhh I am sorry. That's what I get for trying to communicate when I'm
sleepy. I'm working with both this package and the lsp-elixir community and
I got confused.

Let's pretend this didn't happen. It sounds like it might be a good
addition. Would you please tell me a little more about what you have in
mind?

Depending on purpose / scope, an inferior elixir mode might also be a good
standalone pa

[2019-10-10 00:29] J3RN commented on #443
No worries! :smile:

Actually inf-ruby is similar to what I was thinking of. The IEx mode should contain at least basic functionality such as
- ability to interact with IEx in a shell-type environment
- ability to send code from an Elixir buffer into the IEx shell (e.g. `iex-send-buffer`, `iex-send-region`, `iex-send-line`, etc)

Ideally it should have Mix integration, so as to be able to run `iex

[2019-10-11 17:18] macabl opened #444 "Broken syntax after ticks ``` within @moduledoc string"
![sel-2019-10-11--19:16:16](https://user-images.githubusercontent.com/48124288/66671251-e2a2a600-ec5b-11e9-9551-c6ecad11d88f.png)

[2019-10-15 12:50] deadtrickster opened #445 "Map keys regex crashes/zombifies emacs master"
Hi,

when I try open elixir file on emacs master. emacs completely freezes. C-g, ESC nothing can help.
This happened a couple of weeks ago and today I decided to dig into this and found these lines:

[code]

If I replace it with

[code]

everything is ok.

Probably bug in emacs rx module? I'm not sure... Why one-or-more?

Thanks

[2019-10-21 17:18] victorolinasc commented on #445
@deadtrickster I've been having this issue even without opening elixir-mode on current master of Emacs. Are you also having this issue outside elixir? I too think is a regex bug on Emacs ...

[2019-10-21 19:20] deadtrickster commented on #445
nope, i don't. but i use handful of modes anyways.

[2019-10-29 04:43] nykma commented on #445
Also experienced the "complete freeze" here.
After some profiling, I found that `font-lock-fontify-keywords-region` takes a huge mount of CPU.
Maybe it's also related to this case?

[2019-11-01 17:40] jsmestad commented on #445
I think I am hitting this as well. At first I thought it was due to lsp-mode (even went as far to report a false bug at emacs-lsp/lsp-mode#1143). I want to link it here so others can track this issue.

[2019-11-01 19:49] jsmestad commented on #445
@deadtrickster has that patch been working for you? It may be worth pushing it in as a PR.

[2019-11-11 21:25] jsmestad opened #447 ".exs file issue with Emacs 27, auto-composition-mode enabled"
## Background

I have been having issues with Emacs 27.x and opening `config/*.exs` files on my Elixir projects. It causes the editor to completely lock up where `USR2` signals and `C-g` do nothing to remedy the situation.

## Workaround

I came across [this issue on spacemacs](https://github.com/syl20bnr/spacemacs/issues/12123#issuecomment-483269569) where `ediff` crashed with `Fira Code` or some

[2019-11-11 21:42] jsmestad commented on #447
Here is a snippet I use to access the `config.exs` files

[code]

[2019-11-12 03:47] Trevoke commented on #447
Is this actually an issue with elixir-mode or is this an issue with emacs
27.x ?

On Mon, Nov 11, 2019 at 4:42 PM Justin Smestad <notifications@github.com>
wrote:

[2019-11-12 16:02] jsmestad commented on #447
@Trevoke I am not 100% sure. I will continue to investigate, but I have only experienced this issue with elixir-mode and `*.exs` files.

Given the issue reported relating to regex using high cpu usage, I think it stands to reason it could be an issue with changes in Emacs 27.x and `elixir-mode`. Any thoughts?

[2019-11-27 22:18] dgutov commented on #445
I just opened #448 which contains a more comprehensive cleanup, and a good explanation. Please check it out, everyone.

[2019-11-28 00:37] dgutov commented on #440
Some of it is a bug, and some of it is unfortunately intended behavior (in SMIE).

I think we'd be best off installing the following workaround:

[code]

[2019-12-03 04:08] #445 closed

[2019-12-03 04:08] #440 closed

[2019-12-03 11:17] victorolinasc commented on #447
@jsmestad can you test again now that #448 is merged?

[2019-12-04 00:02] jsmestad commented on #447
@victorolinasc it does not. Updated to latest MELPA and commented out my fix. Same stall as before.

[2019-12-16 17:52] opie4624 commented on #405
This also manifests if your function or module names start with the word `end`.

![Screen Shot 2019-12-16 at 9 51 41 AM](https://user-images.githubusercontent.com/6883/70930316-bd2e7180-1fe9-11ea-9b24-96485c756de3.png)

[2020-01-02 22:54] tonight-halfmoon opened #450 "Need auto sort aliases"
Running mix credo on a project with option `--strict` may complain about unsorted aliases. For example:

`[R] ↘ The alias 'Xyz' is not alphabetically
┃       ordered among its group.`

Currently, running elixir-format won't sort the aliases alphabetically.

It would be so great to have this feature -- to alphabetically sort aliases in an elixir module (`ex` / `exs` files).

[2020-03-19 21:42] NicoGim commented on #405
Hi! Here are another example where similar errors occur in Elixir: with the quote do construct.

![defmodule_end](https://user-images.githubusercontent.com/46368291/77117635-
b7a25680-6a32-11ea-8e89-602eeeaf29e8.png)
![defmodule_quote_do_end](https://user-images.githubusercontent.com/46368291/77117643-ba04b080-6a32-11ea-83a4-a20fb1c6681c.png)

Note sure whether it is related to [this smartparens i

[2020-03-24 19:50] NicoGim opened #452 "Require as function name should not appear as blue"
Special reserved words can actually be used as function name as well.
For example with `require`.
![require_as_filename](https://user-images.githubusercontent.com/46368291/77470122-7635f080-6e10-11ea-83d1-53159eb1f264.png)
The first usage, `require Foo` shows that "require" is highlighted in blue. That's good.
The second usage, `require(fields, :title, &validate_title/1)`, is also displayed in blu

[2020-03-29 17:35] axelson commented on #452
A patch for `require` would be accepted, but unfortunately I can't give much guidance on how you'd accomplish this (or how much work it would be). It looks like `require` is identified as a keyword at https://github.com/elixir-editors/emacs-elixir/blob/231291ecadc479295d83fee619049030940bfbe5/elixir-mode.el#L123

[2020-04-02 14:05] NicoGim commented on #452
Hi @axelson!
Thanks for your reply.
I read on the Slack that people suggested having Semantic colouring and you talked about that PR:
 https://github.com/microsoft/language-server-protocol/issues/18
Indeed, I was too ambitious in suggesting I could help, I wish I could but I have no time for it right now :/.
I don't think it is a very important problem anyway. I can live with it. Honestly, I am mo

[2020-04-12 10:22] ealmz commented on #415
How did you add this bash script. Is `elixir-format-elixir-path` something you put in `config.el`? Can't seem to find docs for this.

[2020-06-15 18:39] jsmestad commented on #452
@nicobao this should be a pretty easy fix because `require` cannot be followed by parens when it's a function versus a Kernel method (when it should show up as blue). Right?

If you can confirm that is right, I can put a patch together.

[2020-06-15 18:40] jsmestad commented on #447
I do not seem to be hitting this issue, but to be fair it I do not have ligature support enabled via `composition-mode`and I am now on Emacs 28.x.

Closing this issue for now, but if other folks hit the issue, we can re-open.

[2020-06-15 18:40] #447 closed

[2020-06-15 18:42] jsmestad commented on #444
Are backticks valid like that in moduledoc? I know docs can be markdown, but I was unsure if that meant also codeblocks and code highlighting with like ` ```json `

[2020-06-17 02:33] victorolinasc opened #456 "Remove Python/Ruby dependencies"
I believe that the Python/Ruby dependencies on this repo feels a bit awkward. We could either change to Elixir scripts or simple remove them as I don't think they are used anymore.

If you people believe it is okay to remove them I can send a PR.

@axelson @Trevoke @jsmestad

[2020-06-17 16:02] jsmestad commented on #456
Yeah I just noticed they are there to be honest.

I think either Elixir, Bash, or ELisp make more sense than Ruby/Python.

[2020-06-17 17:51] axelson commented on #444
Is this still an issue? I'm not able to reproduce it. ` ```json ` should be valid within a heredoc (`"""`), although highlighting the content as JSON is not supported.

[2020-06-17 17:55] axelson commented on #456
:+1: for removing those dependencies from me. And I'm agreed with @jsmestad in using bash/elixir/elisp.

[2020-06-17 18:08] victorolinasc commented on #456
Nice!

Do we user those currently? I think they are reminiscent from other maintainers. Currently the "deployment" of the package is merging with master where MELPA is watching to build and provide it.

I think we should really remove them and not switch them to Elixir implementations.

Is that ok?

[2020-06-17 18:09] jsmestad commented on #456
👍

[2020-06-17 18:56] victorolinasc commented on #444
I believe this is a side effect of the many changes that went into Emacs 27 about regexes. Currently, elixir-mode.el is almost completely based on regexes (as most major-modes are).

I had similar issues while surfing the master branch of Emacs. I am currently on Emacs 28 on feat/native-comp branch and also can't reproduce the results.

We had other issues about regexes mentioned here and some wer

[2020-06-17 20:29] axelson commented on #444
Yeah, I was having issues with `"""` on Emacs 27, but for me that went away a few weeks ago (and I'm still on Emacs 27).

[2020-06-20 16:36] victorolinasc opened #458 "Better CI pipeline / project tools"
Current Emacs package development and its tools for CI pipelines have evolved a lot recently and I think that we could use some updating here to benefit from that.

**WARNING**: I am a complete noob at ELisp package development but someone interested on the subject for a while.

Things I think that could help us here:
- Linters (checkdoc, [relint](https://github.com/mattiase/relint), etc)
- Differ

[2020-06-21 01:58] axelson commented on #456
Fixed in #457

[2020-06-21 01:58] #456 closed

[2020-06-21 17:00] axelson commented on #458
I can't speak for everyone but these sound like good changes :+1:

[2020-06-22 02:56] Trevoke commented on #458
All of these seem like good things. I'm trying eldev and buttercup, as of today, on a side project of mine. I wasn't aware of setup-emacs but I'll be curious to give it a shot as well.

[2020-06-22 11:02] tomekowal commented on #458
Seems like a great idea!
I only had the pleasure to use https://github.com/gonewest818/elisp-lint

[2020-06-22 13:17] victorolinasc commented on #458
@Trevoke would love to hear some comments about Eldev... seems like a closer to mix tool than others.

[2020-07-22 19:00] jsmestad commented on #458
I had to mess with a bunch of the Travis config in order to get the test matrix passing (see #459).

I probably butchered it 😞

[2020-07-23 17:50] #424 closed

[2020-07-23 17:54] Trevoke commented on #458
## ELDEV

You can see my usage of eldev here: https://github.com/Trevoke/org-gtd.el

The Eldev file looks like:

[code]

## BUTTERCUP

You can see the lone `buttercup` test I have here: https://github.com/Trevoke/org-gtd.el/blob/master/test/org-gtd-test.el

It looks like any BDD style framework - this test doesn't actually have an expectation because it was so much of a pain to get to where it is

[2020-07-24 04:19] tomekowal commented on #458
Yes, it does https://github.com/gonewest818/elisp-lint#package-lint

`package-lint` does basic checks to ensure a package is ready for Melpa.
`elisp-lint` does more checks like:
- function declarations
- docs
- indentation
- package-lint

[2020-08-12 13:59] bettio commented on #369
August 2020: the issue is still happening.

![Screenshot_20200812_155424](https://user-images.githubusercontent.com/24700/90024087-c543cb80-dcb4-11ea-8899-e1469261d8bb.png)

[2020-08-27 15:21] Trevoke commented on #458
Addendum - I am using a Github action on my org-gtd package to run the test suite with eldev:

https://github.com/Trevoke/org-gtd.el/blob/master/.github/workflows/test.yml

[2020-09-23 07:36] konstantinzolotarev commented on #444
I suppose this is issue in JSON itself (missing comma after `fronts#index`).

[2020-09-23 13:08] konstantinzolotarev opened #462 "ExUnit functions highlighting issues."
I'm pretty new to Emacs and might be will write something not very clear. Sorry for that.

Some ExUnit keywords are displaying incorrectly (at least for me)

- `describe` - does not have any color and acts just like normal text (should be same as `test` keyword)
- `test` - behaves as variable, it differs from `def`, `do`, `defmodule` might be it should be same ?
- `assert`, `refute`, `assert_raise

[2020-09-23 13:09] konstantinzolotarev commented on #462
BTW I'm happy to help if you will point me in direction on how could it be achieved =)

[2020-09-23 15:37] jsmestad commented on #462
So this could be your emacs theme not making use of all the built-in font-lock options in Emacs.

Where you need to add these if you want to propose them as an addition is inside [this block of code](https://github.com/elixir-editors/emacs-elixir/blob/master/elixir-mode.el#L94-L167).

What you may find is that describe is not a keyword per-se but a macro which is why it is not currently listed in

[2020-09-28 10:57] konstantinzolotarev commented on #462
@jsmestad Thank you very much. Will try to make required updates locally.

[2020-09-28 10:57] #462 closed

[2020-10-01 19:18] bitwalker opened #463 "Opening largish files is crazy slow due to SMIE"
I have an Elixir file with ~4k lines in it, more than a few of them actually - and every time I open them, it takes ~10-20 seconds for the file to open. Its honestly driving me nuts.

I ran the profiler to see what is going on, and it looks like the only thing taking any meaningful time at all is `elixir-mode`'s use of SMIE, in particular the `elixir-smie--semi-ends-match` function and its use of

[2020-10-03 18:00] axelson commented on #463
I have noticed this too, and we were having a discussion about it in #emacs on the Elixir Slack the other day. Some improvements to the performance of the syntax detection would be very welcome.

[2020-10-15 01:00] victorolinasc commented on #463
Hi @bitwalker ! It certainly can be improved... PRs are welcome! I myself haven had to deal with such a large file yet and I am running the native-comp branch currently so haven't seen this kind of slowdowns yet. Anyway I agree the current algorithm can be improved upon.

[2020-10-15 01:08] victorolinasc commented on #452
@jsmestad unfortunately it is not so simple...

[code]

`Kernel.require` is certainly a macro as any other in terms of syntax. What makes it even harder is that it can be scoped inside a function too:

[code]

Perhaps we should have a face for function calls with parentheses and another for function calls without parentheses. For example:

[code]

Then at least this could be configurable. This is

[2020-10-15 01:29] victorolinasc commented on #458
I have the project running with Eldev locally (this is the easy part I guess). Tests run exactly as they are now without issues (except those that are already on the code base like expected failures and so on).

I plan to:

- [ ] Narrow the support emacs version matrix (more on this below)
- [ ] Try to make the format test that asserts failure not leave a temp file on the system
- [ ] Switch fo Gi

[2020-10-15 01:31] victorolinasc commented on #458
Also, running the `eldev lint` command pops up hundreds of issues currently :) I guess this is expected and we can work on them progressively...

[2020-10-15 01:40] victorolinasc commented on #444
@macabl can you confirm the issue is gone? If not, can you detail your setup a little bit more? I think there are people using modes for highlighting documentations that might be the cause here too.

[2020-10-15 01:51] victorolinasc commented on #434
Most certainly need to do that :) I'll open a PR about this though the Changelog might be huge...

[2020-10-15 01:52] victorolinasc commented on #432
This repo is not about alchemist and does not have any support for IEx currently (unfortunately). I'm closing this now because of that but feel free to ask questions if still in doubt.

This will probably need to be opened in Alchemist repo but I think no one is maintaining it currently.

[2020-10-15 01:52] #432 closed

[2020-10-15 01:54] victorolinasc commented on #430
I don't quite get the kind of functionality you want here. You mean type the fully qualified module name and then calling a function to create the alias?

[2020-10-15 01:59] victorolinasc commented on #428
I know this is not the kind of answer that you expect but a way to make it work is not using the format functionality here... this is how I use format with the [reformatter.el package](https://github.com/purcell/reformatter.el):

[code]

[2020-10-16 15:31] junjizhi commented on #430
Yeah, I was thinking something like below. Image you already have a module with long names:

[code]

Now in another file, you want use func. Usually I would type `Baz.func` in the code and forget to alias the module in the file. So the feature is, when the cursor is on `Baz`, have Emacs to match the `Foo.Bar.Baz` module, and auto insert the below line up in the beginning of the module I'm in:

[co

[2020-10-17 03:56] lambdadog commented on #428
Thanks, @victorolinasc!

It may not be the answer that I was looking for but it's definitely a useful workaround for those who come across this issue in the future.

I personally don't use Elixir much anymore so the issue is no longer important to me personally, but regardless I still feel this is an important issue with regards to `emacs-elixir` functionality so I'm going to go ahead and leave it

[2020-10-17 03:58] lambdadog commented on #463
If anyone has an example of such a large elixir file that could be tested against, that might be helpful in addressing this issue.

[2020-10-17 04:17] bitwalker commented on #463
I can’t post the originals that trigger this in my work project, but I’ll put together a repro based on them and post back here.

In general though, you can probably also just take any typical Elixir module, clone the contents of it until you have at least a couple thousand lines of code, save it and reopen the file to reproduce. If you run the profiler you should observe an exponential increase i

[2020-11-14 18:44] axelson commented on #458
I am on board with dropping official support for Emacs 24, and your other planned improvements sound great :+1:

[2020-11-17 02:20] maxlorenz commented on #463
You can simply do this:

[code]

The resulting file will take ~20-30 seconds to open, vs ~1s for the same amount of lines of Python or Ruby on my machine

[2020-11-28 21:03] jsmestad opened #465 "Discussion: Who is driving this project forward?"
## Background
This is the best place I could think of to post this sort of thing.

I was speaking with @axelson about this project on Elixir Slack today and we both agreed this project seems to be suffering due to no clear person driving it forward. If we look at the discussions about changing CI tooling in #458 there are some great ideas but no one is pushing it over the finish line.

## Question

[2020-11-30 19:00] axelson commented on #465
First off, thanks for getting this discussion started! There's some good questions to ponder in here. Here's some initial thoughts:

I think this makes sense. I believe it would be @victorolinasc, @Trevoke, and myself. Not sure if I'm missing someone because I don't see a way for me to list out all the members

I think a simple issue might be easier to manage, and we could pin it in the issues lis

[2020-11-30 23:31] jsmestad commented on #465
Yeah good points on each item.

Now I totally appreciate this is the Emacs way and it is what you see from say using Ruby in Emacs. However when it was just `alchemist.el` it was WAY easier to get going with Elixir in Emacs and have a killer experience. Since the deprecation of that library things have become much more involved to get an experience anywhere near that of other editors for Elixir.

[2020-12-07 15:54] andreyorst opened #469 "incorrect indentation if do is on its own line"
Following clode

[code]

Is indented like this:

![image](https://user-images.githubusercontent.com/19470159/101372824-5a4e7e00-38bd-11eb-903b-09c2b794b914.png)

I know that `do` on its own line is not very common, but indentation should not grow with each definition

[2020-12-07 15:56] jsmestad commented on #469
Oh that is interesting 🤔

[2020-12-07 15:59] andreyorst commented on #402
Doesn't seem to happen anymore:
![image](https://user-images.githubusercontent.com/19470159/101373756-5ec76680-38be-11eb-9471-92104beb6d42.png)

[2020-12-08 17:43] andreyorst commented on #465
Here's my two cents. Note, I'm not writing in Elixir, only looking at it, so I can be seen as a *customer* that can be turned off by the language support. Sort of. Anyway, I mostly write in Lisp, and very rarely in things like shell script, Lua, Perl, C, Rust, and some other languages. So I would like to look at `elixir-mode` from the perspective of languages that have great Emacs packages.

In my

[2020-12-09 18:30] axelson commented on #402
Agreed. I'm seeing the same thing here. Closing, if there's another reproduction then please open a new issue.

[2020-12-09 18:30] #402 closed

[2020-12-11 03:47] Trevoke commented on #465
I like the direction andrey is going in, here.

I'm more conservative and I think the only things a major mode really *needs* to provide are:

- syntax highlighting
- indentation support

I'm not averse to more, but I think we should start with a conservative goal, given how much effort and expertise we have available right now.

I agree that the many packages, in the beginning, can be hard to man

[2020-12-11 13:54] victorolinasc commented on #465
First of all thanks to @jsmestad for this issue and the PRs and contributions made to this package. I am currently (last months) very hard at work and hadn't had the time to look into open-source more broadly unfortunately.

I agree with the general though here that a package that aims to implement a major mode shouldn't have more than syntax highlighting and indentation support. That is its main

[2020-12-11 15:50] jsmestad commented on #465
@victorolinasc @Trevoke yeah maybe changing `elixir-mode` would be the wrong place to try and do things 'all in one'. I wonder if taking on reviving `alchemist` would be the better path forward.

[2020-12-11 16:51] victorolinasc commented on #465
IMHO a better path would be to try an reach people responsible for mix.el, exunit.el and others to join on a new project where all of them would be maintainers together.

We could start by pinging them here for their opinion, WDYT?

At this point I believe it would be better to have a new project with this new aim that could bring the code from these smaller projects and build up a new one-stop-sh

[2020-12-11 20:42] jsmestad commented on #465
@victorolinasc I think for the new project I would aim for something as complete as alchemist was. That would mean the known extensions plus several more as there are still quite a few things missing

[2020-12-11 21:17] victorolinasc commented on #465
@jsmestad that is what I thought too but their work could be used as a starting point IMHO. Unless there are very huge architectural changes or something like it.

I think that with more people onboard the chances of success might be higher.

[2020-12-11 21:37] jsmestad commented on #465
Agreed

[2020-12-12 18:11] axelson commented on #465
I'm also agreed on a new package tying everything together, and that would be as comprehensive as alchemist was.

Looking back at the original questions I think we just need to settle these two:

I propose adding victorolinasc, Trevoke, and myself (but please let me know if I'm missing anyone)

I'm okay with adding a roadmap, but I'm not sure what would go on it

[2020-12-29 17:05] guillaumebrunerie commented on #397
Here are two more examples of indentation of `with`. The second one really seems to be driving emacs crazy.
[code]

[2021-03-23 00:54] victorolinasc commented on #458
Things here are done for now! Thanks all for your kind contributions!

[2021-03-23 00:54] #458 closed

[2021-04-24 10:12] #443 closed

[2021-04-29 10:41] mpanarin opened #473 "Font lock issue with a more complex module var"
Code snippet:
[code]
Font lock seems to get really confused with `"` in `#{}`
Screenshot of highlighting:
<img width="465" alt="image" src="https://user-images.githubusercontent.com/31699470/116538732-96c45a00-a8f0-11eb-89a3-3d2d223ebdce.png">

[2021-05-05 08:14] anildigital opened #474 "Support for `defn`?"
Elixir have added new keyword named `defn` for defining numerical definitions

More at https://dashbit.co/blog/nx-numerical-elixir-is-now-publicly-available

[2021-05-05 16:32] jsmestad commented on #474
Am I correct that it is not in the core language but provided by Nx?

[2021-05-09 16:16] achempion opened #476 "Support markdown highlighting"
Documentation blocks like `@doc` or `@moduledoc` [expected](https://hexdocs.pm/elixir/writing-documentation.html) to contain markdown templates.

I'm wondering, is it possible to integrate elixir-mode with mmm-mode to enable markdown editing for these blocks and describe setup in documentation (or make it enabled by default).

It would allow syntax highlighting, table editing and many more feature

[2021-05-17 16:06] jsmestad commented on #469
I just hit this today writing some code so it definitely is a bug to fix

[2021-05-26 10:44] korsmakolnikov commented on #463
Up

[2021-08-24 07:59] wingyplus opened #480 "Highlight mix.lock file"
It would be good to support highlighting on `mix.lock` which's Elixir data structure.

[2021-10-05 15:57] wingyplus commented on #474
Yes it is

[2021-12-10 16:25] viniciussbs commented on #465
Hi, guys. Any news about this topic? I would like to help, but I just started learning Emacs Lisp - even using Emacs for a long time.

I agree. mix.el already already offers some testing features like exunit.el, so maybe there's already some duplicated work happening.

[2021-12-11 16:06] victorolinasc commented on #465
I think a bit has changed since we last discussed this here. IMHO we are **_almost_** at a point where the "purpose" of this project is not needed anymore... and this is actually a good thing :)

Currently, lsp-mode and similar gives us a very interesting IDE set of features with extensibility capabilities (actions). On the syntax parsing and coloring I think that the tree-sitter project is becomi

[2021-12-12 20:16] jsmestad commented on #465
I agree with @victorolinasc

[2021-12-12 20:19] Trevoke commented on #465
I think the path ruby followed is one that we can follow too:

1. have `elixir-mode` be part of emacs: no dependency, which means kill the formatter logic in here
2. create `enh-elixir-mode`, a package that can be downloaded separately, which can do formatting, syntax highlighting, etc. using external dependencies, including lsp-mode if we so choose

[2022-01-17 09:13] Nondv opened #488 "Indentation with a guard on a new line"
If I just write code naturally and indent everything:

[code]
After `elixir-format`:

[code]

and now when I add something after the function, the indentation breaks:

[code]

[2022-01-26 17:30] jsmestad commented on #488
I hit this myself today with the exact same situation 😞

[2022-04-25 17:08] jwbaldwin opened #491 "Syntax highlighting for function calls"
Hello! This is just a question, but I've looked around in the defined font-lock types here as well as the defaults and cannot seem to find the answer. Is there a way to customize the color of a function call such as the following?

doom emacs current behavior
![Screen Shot 2022-04-25 at 1 06 47 PM](https://user-images.githubusercontent.com/16193332/165138659-5e992756-a22a-4f5e-bb4d-8d66de7df468.pn

[2022-07-04 02:14] taylor-gl commented on #488
Also happens for me

[2022-07-29 18:10] Glutexo opened #492 "package-install elixir-mode fails on pkg-info"
Trying to install elixir-mode from ELPA by package-install, I get the following error:

[code]

The package list then claims I have elixir-mode installed, but I can’t use the mode. I am using “GNU Emacs 28.1 (build 1, x86_64-apple-darwin18.7.0, NS appkit-1671.60 Version 10.14.6 (Build 18G95)) of 2022-05-11.”

The complete install log follows:

[code]

[2022-10-06 21:52] Sleepful commented on #465
Read through this and it leaves me wondering _"what's the purpose of this mode?"_
Seems like indentation and font locking are handled here, but someone mentions that tree-sitter could be better at this.
And the readme also mentions `navigation`, but it doesn't really tell me what it does for navigation at all and LSP usually handles this `navigation` unless you are adding features that go beyond L

[2022-10-09 21:17] victorolinasc commented on #465
@Sleepful I'll try to address some of these concerns from my point of view. This is just my opinion though.

First, we will _**always**_ need a major-mode for elixir. Even with all the goodies that, luckily, are coming our way with Emacs 27, 28 and now 29, we cannot "plug" tree-sitter, lsp and other things without a major-mode, so I think we need a package yes. It could, in the future, be proposed

[2022-10-17 03:54] wingyplus opened #494 "tree-sitter support"
In upcoming emacs (29) they start supporting tree-sitter natively (not a separate package). It would be great if we supporting it. We already have tree-sitter-elixir https://github.com/elixir-lang/tree-sitter-elixir. And have someone already explore on tree-sitter emacs https://github.com/elixir-lang/tree-sitter-elixir/issues/4#issuecomment-1280030796.

[2022-10-19 06:48] wkirschbaum commented on #465
I am happy to build out treesit support for elixir, started hacking on it last week and happy to see it through. I started hacking on this project since December, but never made significant enough progress to create a PR. I wasn't initially convince that treesit would be the way forward, but now it seems much more likely. My initial hacking was to get navigation working as this is my biggest issue

[2022-10-19 13:04] victorolinasc commented on #465
This is certainly welcome @wkirschbaum !

I just think that we should maintain a version that is pure SMIE. Emacs has a huge set of possible installation options and runs in a variety of environments. We should always consider it will at some point not have the elixir support installed outside Emacs.

@wingyplus created an issue to discuss this topic and I think we all agree here that treesit is t